// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Layout";




// variable labels
$Position: --iframe-position;
$Border: --iframe-border;
$Margin: --iframe-margin;
$Z-Index: --iframe-z-index;
$Overflow: --iframe-overflow;
$Width: --iframe-width;
$Min-Height: --iframe-min-height;




// values
$_position-value: initial;
$_border-value: none;
$_margin-value: 1.5rem 0;
$_z-index-value: initial;
$_overflow_value: auto;
$_width-value: 100%;
$_min-height-value: 10rem;

$hidden-position-value: absolute;
$hidden-margin-value: 0;
$hidden-z-index-value: var(#{Layout.$Z-Index-Hidden});
$hidden-min-height-value: 0;



@mixin Variables() {
	#{$Position}: #{meta.inspect($_position-value)};
	#{$Border}: #{meta.inspect($_border-value)};
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Overflow}: #{meta.inspect($_overflow-value)};
	#{$Z-Index}: #{meta.inspect($_z-index-value)};
	#{$Width}: #{meta.inspect($_width-value)};
	#{$Min-Height}: #{meta.inspect($_min-height-value)};
}
