// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "IFrame";




@mixin _iframe-common() {
	position: #{var(IFrame.$Position)};
	border: #{var(IFrame.$Border)};
	margin: #{var(IFrame.$Margin)};
	z-index: #{var(IFrame.$Z-Index)};
	overflow: #{var(IFrame.$Overflow)};
	width: #{var(IFrame.$Width)};
	min-height: #{var(IFrame.$Min-Height)};
}



@mixin _iframe-hidden() {
	#{IFrame.$Position}: #{meta.inspect(IFrame.$hidden-position-value)};
	#{IFrame.$Margin}: #{meta.inspect(IFrame.$hidden-margin-value)};
	#{IFrame.$Z-Index}: #{meta.inspect(IFrame.$hidden-z-index-value)};
	#{IFrame.$Min-Height}: #{meta.inspect(IFrame.$hidden-min-height-value)};
	height: #{meta.inspect(IFrame.$hidden-min-height-value)};
}




@mixin Variables-AMP() {
	@include IFrame.Variables();
}




@mixin Variables() {
	@include IFrame.Variables();
}




@mixin AMP() {
	amp-iframe {
		@include _iframe-common();

		&.hidden {
			@include _iframe-hidden();
		}
	}
}




@mixin Critical() {
	iframe {
		@include _iframe-common();

		&.hidden {
			@include _iframe-hidden();
		}
	}
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
}
