// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";


// variable labels
$Max-Width: --image-max-width;
$Height: --image-height;
$Max-Height: --image-max-height;
$Filter: --image-filter;
$Border: --image-border;
$Border-Radius: --image-border-radius;
$Animation: --image-animation;




// values
$_max-width-value: 100%;
$_height-value: auto;
$_max-height-value: unset;
$_filter-value: unset;
$_border-value: none;
$_border-radius-value: 0;
$_image-animation-value: unset;




@mixin Variables() {
	#{$Max-Width}: #{meta.inspect($_max-width-value)};
	#{$Height}: #{meta.inspect($_height-value)};
	#{$Max-Height}: #{meta.inspect($_max-height-value)};
	#{$Filter}: #{meta.inspect($_filter-value)};
	#{$Border}: #{meta.inspect($_border-value)};
	#{$Border-Radius}: #{meta.inspect($_border-radius-value)};
	#{$Animation}: #{meta.inspect($_image-animation-value)};
}
