// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "Image";




@mixin Variables-AMP() {
	@include Image.Variables();
}




@mixin Variables() {
	@include Image.Variables();
}




@mixin AMP() {
	amp-img {
		max-width: var(#{Image.$Max-Width});
		height: var(#{Image.$Height});
		filter: var(#{Image.$Filter});
		border: var(#{Image.$Border});
		border-radius: var(#{Image.$Border-Radius});
		animation: var(#{Image.$Animation});
	}
}




@mixin Critical() {
	img {
		max-width: var(#{Image.$Max-Width});
		height: var(#{Image.$Height});
		filter: var(#{Image.$Filter});
		border: var(#{Image.$Border});
		border-radius: var(#{Image.$Border-Radius});
		animation: var(#{Image.$Animation});
	}
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	img {
		break-inside: avoid;
	}
}
