// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Helper";
@use "Carousel";


@mixin To-Next() {
	@include Helper.Keyframe(#{Carousel.$animate-to-next}) {
		75%,
		99% {
			left: 0;
		}

		95%,
		98% {
			left: #{Carousel.$animate-scroll-factor};
		}
	}
}


@mixin To-Start() {
	@include Helper.Keyframe(#{Carousel.$animate-to-start}) {
		75%,
		99% {
			left: 0;
		}

		95%,
		98% {
			left: #{Carousel.$animate-to-start-calculator};
		}
	}
}


@mixin Snap() {
	@include Helper.Keyframe(#{Carousel.$animate-snap}) {
		96%,
		100% {
			scroll-snap-align: center;
		}

		97%,
		99% {
			scroll-snap-align: none;
		}
	}
}
