// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";
@use "../root/Timing";




// Variables
$Total: --carousel-total;

$Display: --carousel-display;
$Height: --carousel-height;
$Width: --carousel-width;
$Margin: --carousel-margin;
$Padding: --carousel-padding;
$Background: --carousel-background;
$Perspective: --carousel-perspective;

$Nav-Grid: --carousel-nav-grid;
$Nav-Width: --carousel-nav-width;
$Nav-Visibility: --carousel-nav-visibility;
$Nav-Font-Size: --carousel-nav-font-size;
$Nav-Align-Items: --carousel-nav-align-items;
$Nav-Justify-Items: --carousel-nav-justify-items;
$Nav-Color: --carousel-nav-color;
$Nav-Background-Previous: --carousel-nav-background-previous;
$Nav-Background-Next: --carousel-nav-background-next;
$Nav-Timing: --carousel-nav-timing;

$Panel-Position-Top: --carousel-panel-position-top;
$Panel-Position-Bottom: --carousel-panel-position-bottom;
$Panel-Position-Left: --carousel-panel-position-left;
$Panel-Position-Right: --carousel-panel-position-right;
$Panel-Transform: --carousel-panel-transform;
$Panel-Border-Radius: --carousel-panel-border-radius;
$Panel-Background: --carousel-panel-background;
$Panel-Margin: --carousel-panel-margin;
$Panel-Padding: --carousel-panel-padding;
$Panel-Width: --carousel-panel-width;
$Panel-Height: --carousel-panel-height;
$Panel-Flex-Direction: --carousel-panel-flex-direction;
$Panel-Flex-Wrap: --carousel-panel-flex-wrap;
$Panel-Align-Items: --carousel-panel-align-items;
$Panel-Justify-Content: --carousel-justify-content;
$Panel-Align-Content: --carousel-panel-align-content;
$Panel-Overflow: --carousel-panel-overflow;
$Panel-Item-Margin: --carousel-panel-item-margin;
$Panel-Item-Padding: --carousel-panel-item-padding;
$Panel-Item-Border: --carousel-panel-item-border;
$Panel-Item-Background: --carousel-panel-item-background;
$Panel-Item-Color: --carousel-panel-item-color;
$Panel-Item-Text-Align: --carousel-panel-item-text-align;
$Panel-Item-Vertical-Align: --carousel-panel-item-vertical-align;
$Panel-Item-Hover-Transform: --carousel-panel-item-hover-transform;

$Autoplay-Timing: --carousel-autoplay-timing;
$Autoplay-Timing-Function: --carousel-autoplay-timing-function;
$Autoplay-Iteration-Count: --carousel-autoplay-iteration;

$Print-Margin: --carousel-print-margin;




// Values
$_total-value: 5;

$_display-value: block;
$_height-value: fit-content;
$_width-value: 100%;
$_margin-value: 0 0 3rem;
$_padding-value: 0;
$_background-value: transparent;
$_perspective-value: 2rem;

$nav-grid-area-next: carousel-next;
$nav-grid-area-previous: carousel-previous;
$_nav-grid-value:
"#{$nav-grid-area-previous}   content    #{$nav-grid-area-next}" 100%
/ max-content                 auto       max-content;
$_nav-width-value: 10rem;
$_nav-visibility-value: visible;
$_nav-font-size-value: 10rem;
$_nav-align-items-value: center;
$_nav-justify-items-value: center;
$_nav-color-value: var(#{Color.$Grey-50});
$_nav-background-previous-value: linear-gradient(to right,
						rgba(0,0,0,.35) 5%,
						transparent 100%
						);
$_nav-background-next-value: linear-gradient(to left,
						rgba(0,0,0,.35) 5%,
						transparent 100%
						);
$_nav-timing-value: var(#{Timing.$Normal});

$_panel-position-top-value: unset;
$_panel-position-bottom-value: 0;
$_panel-position-left-value: 50%;
$_panel-position-right-value: unset;
$_panel-transform-value: translateX(-50%);
$_panel-border-radius-value: none;
$_panel-background-value: linear-gradient(to top,
						rgba(0,0,0,.85) 25%,
						transparent 50%
						);
$_panel-margin-value: 0;
$_panel-padding-value: 0;
$_panel-width-value: 100%;
$_panel-height-value: fit-content;
$_panel-flex-direction-value: row;
$_panel-flex-wrap-value: nowrap;
$_panel-align-items-value: center;
$_panel-justify-content-value: center;
$_panel-align-content-value: center;
$_panel-overflow-value: scroll hidden;
$_panel-item-margin-value: 0 1rem;
$_panel-item-padding-value: 0;
$_panel-item-border-value: none;
$_panel-item-background-value: transparent;
$_panel-item-color-value: var(#{$Nav-Color});
$_panel-item-text-align-value: center;
$_panel-item-vertical-align-value: middle;
$_panel-item-hover-transform-value: TranslateY(-1.5rem);

$animate-to-next: carousel-animate-to-next;
$animate-to-start: carousel-animate-to-start;
$animate-snap: carousel-animate-snap;
$animate-scroll-factor: 100%;
$animate-to-start-calculator: calc(var(#{$Total}) * #{$animate-scroll-factor} * -1);

$autoplay-next-value: #{$animate-to-next}, #{$animate-snap};
$autoplay-restart-value: #{$animate-to-start}, #{$animate-snap};
$_autoplay-timing-value: 10000;
$_autoplay-timing-function-value: ease;
$_autoplay-iteration-count-value: infinite;

$_print-margin-value: 1rem;




@mixin Variables() {
	#{$Total}: #{meta.inspect($_total-value)};

	#{$Display}: #{meta.inspect($_display-value)};
	#{$Height}: #{meta.inspect($_height-value)};
	#{$Width}: #{meta.inspect($_width-value)};
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};
	#{$Background}: #{meta.inspect($_background-value)};
	#{$Perspective}: #{meta.inspect($_perspective-value)};

	#{$Nav-Grid}: #{meta.inspect($_nav-grid-value)};
	#{$Nav-Width}: #{meta.inspect($_nav-width-value)};
	#{$Nav-Visibility}: #{meta.inspect($_nav-visibility-value)};
	#{$Nav-Font-Size}: #{meta.inspect($_nav-font-size-value)};
	#{$Nav-Align-Items}: #{meta.inspect($_nav-align-items-value)};
	#{$Nav-Justify-Items}: #{meta.inspect($_nav-justify-items-value)};
	#{$Nav-Color}: #{meta.inspect($_nav-color-value)};
	#{$Nav-Background-Previous}: #{meta.inspect($_nav-background-previous-value)};
	#{$Nav-Background-Next}: #{meta.inspect($_nav-background-next-value)};
	#{$Nav-Timing}: #{meta.inspect($_nav-timing-value)};

	#{$Panel-Position-Top}: #{meta.inspect($_panel-position-top-value)};
	#{$Panel-Position-Bottom}: #{meta.inspect($_panel-position-bottom-value)};
	#{$Panel-Position-Left}: #{meta.inspect($_panel-position-left-value)};
	#{$Panel-Position-Right}: #{meta.inspect($_panel-position-right-value)};
	#{$Panel-Transform}: #{meta.inspect($_panel-transform-value)};
	#{$Panel-Border-Radius}: #{meta.inspect($_panel-border-radius-value)};
	#{$Panel-Background}: #{meta.inspect($_panel-background-value)};
	#{$Panel-Margin}: #{meta.inspect($_panel-margin-value)};
	#{$Panel-Padding}: #{meta.inspect($_panel-padding-value)};
	#{$Panel-Width}: #{meta.inspect($_panel-width-value)};
	#{$Panel-Height}: #{meta.inspect($_panel-height-value)};
	#{$Panel-Flex-Direction}: #{meta.inspect($_panel-flex-direction-value)};
	#{$Panel-Flex-Wrap}: #{meta.inspect($_panel-flex-wrap-value)};
	#{$Panel-Align-Items}: #{meta.inspect($_panel-align-items-value)};
	#{$Panel-Justify-Content}: #{meta.inspect($_panel-justify-content-value)};
	#{$Panel-Align-Content}: #{meta.inspect($_panel-align-content-value)};
	#{$Panel-Overflow}: #{meta.inspect($_panel-overflow-value)};
	#{$Panel-Item-Margin}: #{meta.inspect($_panel-item-margin-value)};
	#{$Panel-Item-Padding}: #{meta.inspect($_panel-item-padding-value)};
	#{$Panel-Item-Border}: #{meta.inspect($_panel-item-border-value)};
	#{$Panel-Item-Background}: #{meta.inspect($_panel-item-background-value)};
	#{$Panel-Item-Color}: #{meta.inspect($_panel-item-color-value)};
	#{$Panel-Item-Text-Align}: #{meta.inspect($_panel-item-text-align-value)};
	#{$Panel-Item-Vertical-Align}: #{meta.inspect($_panel-item-vertical-align-value)};
	#{$Panel-Item-Hover-Transform}: #{meta.inspect($_panel-item-hover-transform-value)};

	#{$Autoplay-Timing}: #{meta.inspect($_autoplay-timing-value)};
	#{$Autoplay-Timing-Function}:#{meta.inspect($_autoplay-timing-function-value)};
	#{$Autoplay-Iteration-Count}: #{meta.inspect($_autoplay-iteration-count-value)};

	#{$Print-Margin}: #{meta.inspect($_print-margin-value)};
}
