// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Carousel";
@use "Animation";
@use "../root/Helper";
@use "../root/Scrollbar";




@mixin Variables-AMP() {
	@include Carousel.Variables();
}




@mixin Variables() {
	@include Carousel.Variables();
}




@mixin AMP() {
	amp-carousel {
		margin: var(#{Carousel.$Margin});
		background: var(#{Carousel.$Background});
	}
}




@mixin Critical() {
	@include Animation.To-Next();
	@include Animation.To-Start();
	@include Animation.Snap();

	.Carousel {
		display: var(#{Carousel.$Display});

		height: var(#{Carousel.$Height});
		min-height: var(#{Carousel.$Height});
		width: var(#{Carousel.$Width});

		padding: var(#{Carousel.$Padding});
		margin: var(#{Carousel.$Margin});

		background: var(#{Carousel.$Background});
		perspective: var(#{Carousel.$Perspective});

		.viewport {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			padding: 0;
			margin: 0;
			list-style-type: none;
			list-style-image: none;

			overflow: scroll hidden;
			scroll-behavior: smooth;
			scroll-snap-type: x mandatory;

			@include Scrollbar.Hide();

			li {
				flex: 0 0 100%;

				position: relative;

				border: none;

				margin: 0;
				padding: 0;


				article {
					display: flex;
					align-items: center;
					align-content: center;
					justify-content: center;

					position: absolute;
					top: 0;
					left: 0;

					width: 100%;
					height: 100%;

					margin: 0;
					padding: 0;
				}

				.controller,
				nav {
					display: grid;

					position: absolute;
					top: 0;
					left: 0;

					height: 100%;
					width: 100%;

					background: transparent;

					opacity: 0;
					visibility: hidden;
				}

				.controller {
					grid: "content" 100% / 100%;
					align-items: center;
					justify-items: center;

					animation-name: none;
					animation-play-state: running;
					scroll-snap-align: center;

					visibility: hidden;
				}

				nav {
					grid: var(#{Carousel.$Nav-Grid});
					align-items: var(#{Carousel.$Nav-Align-Items});
					justify-items: var(#{Carousel.$Nav-Justify-Items});

					@include Helper.Transition(
						var(#{Carousel.$Nav-Timing})
					);

					a.next,
					a.previous {
						display: flex;
						align-items: center;
						justify-content: center;
						align-content: center;

						width: var(#{Carousel.$Nav-Width});
						height: 100%;

						color: var(#{Carousel.$Nav-Color});

						font-size: var(#{Carousel.$Nav-Font-Size});

						border: none;
						outline: 0;
					}


					a.next {
						grid-area: #{Carousel.$nav-grid-area-next};
						background: var(#{Carousel.$Nav-Background-Next});
					}


					a.previous {
						grid-area: #{Carousel.$nav-grid-area-previous};
						background: var(#{Carousel.$Nav-Background-Previous});
					}
				}

				&:last-child nav a.next,
				&:last-child article::after,
				&:first-child nav a.previous,
				&:first-child article::before {
					display: none;
				}
			}
		}

		nav.panel {
			position: absolute;
			top: var(#{Carousel.$Panel-Position-Top});
			bottom: var(#{Carousel.$Panel-Position-Bottom});
			left: var(#{Carousel.$Panel-Position-Left});
			right: var(#{Carousel.$Panel-Position-Right});
			@include Helper.Transform(
				var(#{Carousel.$Panel-Transform})
			);

			margin: var(#{Carousel.$Panel-Margin});
			padding: var(#{Carousel.$Panel-Padding});
			border-radius: var(#{Carousel.$Panel-Border-Radius});

			opacity: 0;
			visibility: hidden;
			background: var(#{Carousel.$Panel-Background});

			width: var(#{Carousel.$Panel-Width});
			height: var(#{Carousel.$Panel-Height});

			@include Helper.Transition(
				var(#{Carousel.$Nav-Timing})
			);

			ol,
			ul {
				display: flex;
				flex-direction: var(#{Carousel.$Panel-Flex-Direction});
				flex-wrap: var(#{Carousel.$Panel-Flex-Wrap});
				align-items: var(#{Carousel.$Panel-Align-Items});
				justify-content: var(#{Carousel.$Panel-Justify-Content});
				align-content: var(#{Carousel.$Panel-Align-Content});

				margin: 0;
				padding: 0;
				list-style-type: none;

				overflow: var(#{Carousel.$Panel-Overflow});
				scroll-behavior: smooth;

				@include Scrollbar.Hide();

				li {
					margin: var(#{Carousel.$Panel-Item-Margin});
					padding: var(#{Carousel.$Panel-Item-Padding});

					display: flex;
					align-items: center;
					justify-content: center;
					align-content: center;

					border: var(#{Carousel.$Panel-Item-Border});
					background: var(#{Carousel.$Panel-Item-Background});

					@include Helper.Transition(
						var(#{Carousel.$Nav-Timing})
					);

					& > * {
						color: var(#{Carousel.$Panel-Item-Color});
						border: none;
						background: transparent;

						margin: 0;
						padding: 0;

						text-align: var(#{Carousel.$Panel-Item-Text-Align});
						vertical-align: var(#{Carousel.$Panel-Item-Vertical-Align});
					}

					&:hover,
					&:focus {
						@include Helper.Transform(
							var(Carousel.$Panel-Item-Hover-Transform)
						);
					}
				}
			}
		}

		&:focus-within,
		&:focus,
		&:hover {
			nav.panel,
			.viewport li nav {
				opacity: 1;
				visibility: var(#{Carousel.$Nav-Visibility});
			}

			.viewport li .controller {
				animation-name: none;
				animation-play-state: paused;
			}
		}

		&.autoplay .viewport li {
			.controller {
				animation-name:
					#{Carousel.$autoplay-next-value};
				animation-duration:
					calc(var(#{Carousel.$Autoplay-Timing}) * 1ms);
				animation-timing-function:
					var(#{Carousel.$Autoplay-Timing-Function});
				animation-iteration-count:
					var(#{Carousel.$Autoplay-Iteration-Count});
			}

			&:last-child .controller {
				animation-name:
					#{Carousel.$autoplay-restart-value};
			}
		}
	}
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	.Carousel:not(.print) {
		display: none;

		.viewport {
			display: none;

			nav,
			article {
				display: none;
			}
		}

		nav.panel {
			display: none;
		}
	}

	.Carousel.print {
		display: block;
		position: static;
		height: fit-content;

		.viewport {
			display: block;

			position: static;
			height: fit-content;

			li {
				margin: var(#{Carousel.$Print-Margin});
				height: var(#{Carousel.$Height});

				break-inside: avoid;
				@include Helper.PrintColorAdjust(exact);

				article {
					position: static;
				}

				nav {
					display: none;
				}
			}
		}

		nav.panel {
			display: none;
		}
	}
}
