// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../deflist/DefList";
@use "ShieldsBadge";




@mixin _common() {
	dl.shields-badge {
		display: inline-flex;
		flex-wrap: nowrap;
		width: fit-content;
		#{DefList.$Dt-Margin}: 0;
		#{DefList.$Dd-Margin}: 0;

		border: var(#{ShieldsBadge.$Border});
		border-radius: var(#{ShieldsBadge.$Border-Radius});
		margin: var(#{ShieldsBadge.$Margin});
		#{DefList.$Dl-Padding}: var(#{ShieldsBadge.$Padding});

		dt {
			flex-basis: auto;
			min-width: var(#{ShieldsBadge.$Dt-Min-Width});
			padding: var(#{ShieldsBadge.$Dt-Padding});
			font-size: var(#{ShieldsBadge.$Dt-Font-Size});
			font-weight: var(#{ShieldsBadge.$Dt-Font-Weight});
			color: var(#{ShieldsBadge.$Dt-Color});
			background: var(#{ShieldsBadge.$Dt-Background});
		}

		dd {
			flex-basis: auto;
			white-space: var(#{ShieldsBadge.$Dd-White-Space});
			padding: var(#{ShieldsBadge.$Dd-Padding});
			font-size: var(#{ShieldsBadge.$Dd-Font-Size});
			font-weight: var(#{ShieldsBadge.$Dd-Font-Weight});
			color: var(#{ShieldsBadge.$Dd-Color});
			background: var(#{ShieldsBadge.$Dd-Background});

			&:before {
				content: none;
			}
		}
	}
}




@mixin Variables-AMP() {
	@include ShieldsBadge.Variables();
}




@mixin Variables() {
	@include ShieldsBadge.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	dl.shields-badge,
	dl.shields-badge dd,
	dl.shields-badge dt {
		break-inside: avoid;
	}
}
