// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";




// Variables
$Border: --shieldsbadge-border;
$Border-Radius: --shieldsbadge-border-radius;
$Margin: --shieldsbadge-margin;
$Padding: --shieldsbadge-padding;

// <dt>
$Dt-Min-Width: --shieldsbadge-dt-min-width;
$Dt-Padding: --shieldsbadge-dt-padding;
$Dt-Font-Size: --shieldsbadge-dt-font-size;
$Dt-Font-Weight: --shieldsbadge-dt-font-weight;
$Dt-Color: --shieldsbadge-dt-color;
$Dt-Background: --shieldsbadge-dt-background;

// <dd>
$Dd-White-Space: --shieldsbadge-dd-white-space;
$Dd-Padding: --shieldsbadge-dd-padding;
$Dd-Font-Size: --shieldsbadge-dd-font-size;
$Dd-Font-Weight: --shieldsbadge-dd-font-weight;
$Dd-Color: --shieldsbadge-dd-color;
$Dd-Background: --shieldsbadge-dd-background;




// Values
$_border-value: none;
$_border-radius-value: .4rem;
$_margin-value: .4rem;
$_padding-value: 0;

$_dt-min-width-value: 10.5rem;
$_dt-padding-value: .8rem;
$_dt-font-size-value: 1.4rem;
$_dt-font-weight-value: bold;
$_dt-color-value: var(#{Color.$Grey-50});
$_dt-background-value: var(#{Color.$Grey-900});

$_dd-white-space-value: normal;
$_dd-padding-value: .8rem;
$_dd-font-size-value: 1.4rem;
$_dd-font-weight-value: bold;
$_dd-color-value: var(#{Color.$Grey-50});
$_dd-background-value: var(#{Color.$Primary-500});




@mixin Variables() {
	#{$Border}: #{meta.inspect($_border-value)};
	#{$Border-Radius}: #{meta.inspect($_border-radius-value)};
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};


	#{$Dt-Min-Width}: #{meta.inspect($_dt-min-width-value)};
	#{$Dt-Padding}: #{meta.inspect($_dt-padding-value)};
	#{$Dt-Font-Size}: #{meta.inspect($_dt-font-size-value)};
	#{$Dt-Font-Weight}: #{meta.inspect($_dt-font-weight-value)};
	#{$Dt-Color}: #{meta.inspect($_dt-color-value)};
	#{$Dt-Background}: #{meta.inspect($_dt-background-value)};


	#{$Dd-White-Space}: #{meta.inspect($_dd-white-space-value)};
	#{$Dd-Padding}: #{meta.inspect($_dd-padding-value)};
	#{$Dd-Font-Size}: #{meta.inspect($_dd-font-size-value)};
	#{$Dd-Font-Weight}: #{meta.inspect($_dd-font-weight-value)};
	#{$Dd-Color}: #{meta.inspect($_dd-color-value)};
	#{$Dd-Background}: #{meta.inspect($_dd-background-value)};
}
