// Copyright 2021 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2021 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";
@use "../root/Helper";
@use "../root/Timing";




// Variables
$Display: --button-display;
$Opacity: --button-opacity;
$Transition: --button-transition;

$Margin: --button-margin;
$Padding: --button-padding;
$Border-Radius: --button-border-radius;

$Color: --button-color;
$Background: --button-background;

$Border-Width: --button-border-width;
$Border-Style: --button-border-style;
$Border-Color: --button-border-color;

$Font-Size: --button-font-size;
$Font-Weight: --button-font-weight;
$Letter-Spacing: --button-letter-spacing;
$Text-Align: --button-text-align;
$Text-Decoration: --button-text-decoration;
$Text-Transform: --button-text-transform;
$Overflow-Wrap: --button-overflow-wrap;
$Word-Break: --button-word-break;

$Color-Invert: --button-color-invert;

$Color-Focus: --button-color-focus;
$Background-Focus: --button-background-focus;
$Border-Color-Focus: --button-border-color-focus;

$Opacity-Disabled: --button-opacity-disabled;



// Values
$_display-value: inline-block;
$_opacity-value: 1;
$_transition-value: var(#{Timing.$Normal});

$_margin-value: .5rem 1.2rem;
$_padding-value: 1.5rem;
$_border-radius-value: .4rem;

$_color-value: var(#{Color.$Grey-50});
$_background-value: var(#{Color.$Primary-500});

$_border-width-value: .3rem;
$_border-style-value: solid;
$_border-color-value: var(#{Color.$Primary-500});

$_font-size-value: 1.35rem;
$_font-weight-value: 700;
$_letter-spacing-value: .1rem;
$_text-align-value: center;
$_text-decoration-value: none;
$_text-transform-value: uppercase;
$_overflow-wrap-value: break-word;
$_word-break-value: break-word;

$_color-invert-value: var(#{Color.$Primary-500});

$_color-focus-value: var(#{Color.$Grey-50});
$_background-focus-value: var(#{Color.$Contrast-700});
$_border-color-focus-value: var(#{Color.$Contrast-700});

$_opacity-disabled-value: .5;



@mixin Variables() {
	#{$Display}: #{meta.inspect($_display-value)};
	#{$Opacity}: #{meta.inspect($_opacity-value)};
	#{$Transition}: #{meta.inspect($_transition-value)};

	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};
	#{$Border-Radius}: #{meta.inspect($_border-radius-value)};

	#{$Color}: #{meta.inspect($_color-value)};
	#{$Background}: #{meta.inspect($_background-value)};

	#{$Border-Width}: #{meta.inspect($_border-width-value)};
	#{$Border-Style}: #{meta.inspect($_border-style-value)};
	#{$Border-Color}: #{meta.inspect($_border-color-value)};

	#{$Font-Size}: #{meta.inspect($_font-size-value)};
	#{$Font-Weight}: #{meta.inspect($_font-weight-value)};
	#{$Letter-Spacing}: #{meta.inspect($_letter-spacing-value)};
	#{$Text-Align}: #{meta.inspect($_text-align-value)};
	#{$Text-Decoration}: #{meta.inspect($_text-decoration-value)};
	#{$Text-Transform}: #{meta.inspect($_text-transform-value)};
	#{$Overflow-Wrap}: #{meta.inspect($_overflow-wrap-value)};
	#{$Word-Break}: #{meta.inspect($_word-break-value)};

	#{$Color-Invert}: #{meta.inspect($_color-invert-value)};

	#{$Color-Focus}: #{meta.inspect($_color-focus-value)};
	#{$Background-Focus}: #{meta.inspect($_background-focus-value)};
	#{$Border-Color-Focus}: #{meta.inspect($_border-color-focus-value)};

	#{$Opacity-Disabled}: #{meta.inspect($_opacity-disabled-value)};
}




@mixin Button-Transition() {
	@include Helper.Transition(var(#{$Transition}));
}
