// Copyright 2021 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2021 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Button";




@mixin _common() {
	input[type='button'],
	input[type='reset'],
	input[type='submit'],
	button,
	.button {
		display: var(#{Button.$Display});
		opacity: var(#{Button.$Opacity});

		margin: var(#{Button.$Margin});
		padding: var(#{Button.$Padding});
		border-width: var(#{Button.$Border-Width});
		border-style: var(#{Button.$Border-Style});
		border-radius: var(#{Button.$Border-Radius});

		color: var(#{Button.$Color});
		background: var(#{Button.$Background});
		border-color: var(#{Button.$Border-Color});

		font-size: var(#{Button.$Font-Size});
		font-weight: var(#{Button.$Font-Weight});
		letter-spacing: var(#{Button.$Letter-Spacing});
		text-align: var(#{Button.$Text-Align});
		text-decoration: var(#{Button.$Text-Decoration});
		text-transform: var(#{Button.$Text-Transform});
		overflow-wrap: var(#{Button.$Overflow-Wrap});
		word-break: var(#{Button.$Word-Break});

		@include Button.Button-Transition();

		position: relative;

		&::before,
		&::after {
			content: "";

			position: absolute;
			top: calc(var(#{Button.$Border-Width}) * -1);
			left: calc(var(#{Button.$Border-Width}) * -1);

			width: 100%;
			height: 100%;

			background: transparent;
		}

		&::after {
			opacity: 0;
			transform: scaleX(1.25) scaleY(1.5);
			transition: transform .5s, opacity .5s;

			border-width: var(#{Button.$Border-Width});
			border-style: var(#{Button.$Border-Style});
			border-radius: var(#{Button.$Border-Radius});

			border-color: var(#{Button.$Border-Color-Focus});
		}

		&.clean,
		&.outline {
			#{Button.$Color}: var(#{Button.$Color-Invert});
			#{Button.$Background}: transparent;
			#{Button.$Border-Color}: var(#{Button.$Color-Invert});
		}

		&.clean {
			#{Button.$Border-Color}: transparent;
		}

		&:focus,
		&.outline:focus,
		&.clean:focus,
		&:hover,
		&.outline:hover,
		&.clean:hover {
			&:not(:disabled) {
				color: var(#{Button.$Color-Focus});
				background: var(#{Button.$Background-Focus});
				border-color: var(#{Button.$Border-Color-Focus});

				&::after {
					opacity: 1;
					transform: scaleX(1) scaleY(1);
				}
			}
		}

		&[disabled], &.disabled {
			pointer-events: none;
			opacity: var(#{Button.$Opacity-Disabled});
		}
	}
}




@mixin Variables-AMP() {
	@include Button.Variables();
}




@mixin Variables() {
	@include Button.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
}
