// Copyright 2021 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2021 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Alignment";




@mixin _common() {
	.align {
		display: flex;
		width: 100%;
		margin: 0;
		padding: 0;

		&.left {
			justify-content: start;
		}

		&.center {
			justify-content: center;
		}

		&.right {
			justify-content: end;
		}

		&.justify {
			justify-content: space-between;
		}

		&.top {
			align-items: flex-start;
		}

		&.middle {
			align-items: center;
		}

		&.bottom {
			align-items: flex-end;
		}

		&.stretch {
			align-items: stretch;
		}

		&.baseline {
			align-items: baseline;
		}
	}
}




@mixin Variables-AMP() {
	@include Alignment.Variables();
}




@mixin Variables() {
	@include Alignment.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
}
