// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "Color";


// Font property labels
$Size: --font-size;
$Weight: --font-weight;
$Char-Spacing: --font-char-spacing;
$Line-Height: --font-line-height;
$Family: --font-family;
$Alignment: --font-align;


// Header 1 property labels
$Size-H1: --h1-font-size;
$Line-Height-H1: --h1-line-height;
$Char-Spacing-H1: --h1-char-spacing;
$Margin-H1: --h1-margin;
$Before-Content-H1: --h1-before-content;
$Before-Color-H1: --h1-before-color;
$Before-Margin-H1: --h1-before-margin;
$Decoration-H1: --h1-text-deco;
$Decoration-Color-H1: --h1-text-deco-color;
$Border-Bottom-H1: --h1-border-bottom;


// Header 2 property labels
$Size-H2: --h2-font-size;
$Line-Height-H2: --h2-line-height;
$Char-Spacing-H2: --h2-char-spacing;
$Margin-H2: --h2-margin;
$Before-Content-H2: --h2-before-content;
$Before-Color-H2: --h2-before-color;
$Before-Margin-H2: --h2-before-margin;
$Decoration-H2: --h2-text-deco;
$Decoration-Color-H2: --h2-text-deco-color;
$Border-Bottom-H2: --h2-border-bottom;


// Header 3 property labels
$Size-H3: --h3-font-size;
$Line-Height-H3: --h3-line-height;
$Char-Spacing-H3: --h3-char-spacing;
$Margin-H3: --h3-margin;
$Before-Content-H3: --h3-before-content;
$Before-Color-H3: --h3-before-color;
$Before-Margin-H3: --h3-before-margin;
$Decoration-H3: --h3-text-deco;
$Decoration-Color-H3: --h3-text-deco-color;
$Border-Bottom-H3: --h3-border-bottom;


// Header 4 property labels
$Size-H4: --h4-font-size;
$Line-Height-H4: --h4-line-height;
$Char-Spacing-H4: --h4-char-spacing;
$Margin-H4: --h4-margin;
$Before-Content-H4: --h4-before-content;
$Before-Color-H4: --h4-before-color;
$Before-Margin-H4: --h4-before-margin;
$Decoration-H4: --h4-text-deco;
$Decoration-Color-H4: --h4-text-deco-color;
$Border-Bottom-H4: --h4-border-bottom;


// Header 5 property labels
$Size-H5: --h5-font-size;
$Line-Height-H5: --h5-line-height;
$Char-Spacing-H5: --h5-char-spacing;
$Margin-H5: --h5-margin;
$Before-Content-H5: --h5-before-content;
$Before-Color-H5: --h5-before-color;
$Before-Margin-H5: --h5-before-margin;
$Decoration-H5: --h5-text-deco;
$Decoration-Color-H5: --h5-text-deco-color;
$Border-Bottom-H5: --h5-border-bottom;


// Header 6 property labels
$Size-H6: --h6-font-size;
$Line-Height-H6: --h6-line-height;
$Char-Spacing-H6: --h6-char-spacing;
$Margin-H6: --h6-margin;
$Before-Content-H6: --h6-before-content;
$Before-Color-H6: --h6-before-color;
$Before-Margin-H6: --h6-before-margin;
$Decoration-H6: --h6-text-deco;
$Decoration-Color-H6: --h6-text-deco-color;
$Border-Bottom-H6: --h6-border-bottom;


// Internal values
$_font-family-value: "Noto Sans",
			"Noto Serif",
			"Noto Color Emoji",
			"Roboto",
			"Helvetica Neue",
			"sans-serif";



// Public Variables
@mixin Variables-AMP() {
	// Defaults
	#{$Size}: 1.8rem;
	#{$Weight}: normal;
	#{$Char-Spacing}: .01rem;
	#{$Line-Height}: 1.6;
	#{$Family}: $_font-family-value;
	#{$Alignment}: justify;


	// Header 1
	#{$Size-H1}: 4rem;
	#{$Line-Height-H1}: 1.2;
	#{$Char-Spacing-H1}: -.1rem;
	#{$Margin-H1}: 2rem 0 0;
	#{$Decoration-H1}: underline;
	#{$Decoration-Color-H1}: var(#{Color.$Primary-500});


	// Header 2
	#{$Size-H2}: 3rem;
	#{$Line-Height-H2}: 1.25;
	#{$Char-Spacing-H2}: -.1rem;
	#{$Margin-H2}: 10rem 0 0;
	#{$Border-Bottom-H2}: 1px solid var(#{Color.$Primary-300});


	// Header 3
	#{$Size-H3}: 2.5rem;
	#{$Line-Height-H3}: 1.3;
	#{$Char-Spacing-H3}: -.1rem;
	#{$Margin-H3}: 8rem 0 0;


	// Header 4
	#{$Size-H4}: 2.2rem;
	#{$Line-Height-H4}: 1.35;
	#{$Char-Spacing-H4}: -.08rem;
	#{$Margin-H4}: 4.5rem 0 0;


	// Header 5
	#{$Size-H5}: 1.8rem;
	#{$Line-Height-H5}: 1.5;
	#{$Char-Spacing-H5}: -.05rem;
	#{$Margin-H5}: 4.5rem 0 0;


	// Header 6
	#{$Size-H6}: 1.6rem;
	#{$Line-Height-H6}: 0;
	#{$Char-Spacing-H6}: 0;
	#{$Margin-H6}: 4.5rem 0 0;
}


@mixin Variables-Critical() {
	// Heading 2
	#{$Before-Content-H2}: '§';
	#{$Before-Color-H2}: var(#{Color.$Primary-500});
	#{$Before-Margin-H2}: 0 2rem 0 0;

	// Heading 3
	#{$Before-Content-H3}: '¶';
	#{$Before-Color-H3}: var(#{Color.$Primary-500});
	#{$Before-Margin-H3}: 0 2rem 0 0;
}


@mixin Variables-Print() {
	#{$Size}: 12pt;
}


@mixin Faces() {
	@font-face {
		font-family: "Noto Sans";
		font-style: normal;
		font-weight: bold;
		src: local("Noto Sans"),
			url("/fonts/NotoSans-Bold.ttf");
	}

	@font-face {
		font-family: "Noto Sans";
		font-style: italic;
		font-weight: bold;
		src: local("Noto Sans"),
			url("/fonts/NotoSans-BoldItalic.ttf");
	}

	@font-face {
		font-family: "Noto Sans";
		font-style: italic;
		font-weight: 400;
		src: local("Noto Sans"),
			url("/fonts/NotoSans-Italic.ttf");
	}

	@font-face {
		font-family: "Noto Sans";
		font-style: normal;
		font-weight: 400;
		src: local("Noto Sans"),
			url("/fonts/NotoSans-Regular.ttf");
	}

	@font-face {
		font-family: "Noto Color Emoji";
		src: local("Noto Color Emoji"),
			url("/fonts/NotoColorEmoji.ttf");
	}
}
