// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@mixin Animation($value) {
	-webkit-animation: $value;
	-moz-animation: $value;
	-o-animation: $value;
	animation: $value;
}




@mixin Appearance($value) {
	-webkit-appearance: $value;
	-moz-appearance: $value;
	appearance: $value;
}




@mixin BoxShadow($value) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}




@mixin Keyframe($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}




@mixin PrintColorAdjust($value) {
	-webkit-print-color-adjust: $value;
	color-adjust: $value;
}




@mixin Transform($value) {
	-webkit-transform: $value;
	-ms-transform: $value;
	-moz-transform: $value;
	-o-transform: $value;
	transform: $value;
}




@mixin TransitionStyle($value) {
	-webkit-transform-style: $value;
	transform-style: $value;
}




@mixin Transition($value) {
	-webkit-transition: $value;
	-ms-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value;
}
