// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Color";
@use "Font";
@use "Layout";
@use "Timing";




@mixin _common() {
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
	}


	html {
		font-size: 62.5%; // 1.6rem = 16px

		height: 100%;
		height: calc(100vh - calc(100vh - 100%));

		box-sizing: #{var(Layout.$Box-Sizing-HTML)};
	}


	body {
		font-family: #{var(Font.$Family)};
		font-size: #{var(Font.$Size)};
		font-weight: #{var(Font.$Weight)};
		letter-spacing: #{var(Font.$Char-Spacing)};
		line-height: #{var(Font.$Line-Height)};
		text-align: #{var(Font.$Alignment)};

		min-height: 100%;

		display: grid;
		gap: Layout.$Grid-Gap;
		grid: #{var(Layout.$Body-Grid)};
	}

	main {
		z-index: #{var(Layout.$Z-Index-Main)};
		grid-area: #{meta.inspect(Layout.$Grid-Label-Content)};
		max-width: #{var(Layout.$Main-Max-Width)};
		margin: #{var(Layout.$Main-Margin)};
		padding: #{var(Layout.$Main-Padding)};
	}

	h1 {
		font-size: #{var(Font.$Size-H1)};
		line-height: #{var(Font.$Line-Height-H1)};
		letter-spacing: #{var(Font.$Char-Spacing-H1)};
		margin: #{var(Font.$Margin-H1)};
		text-decoration: #{var(Font.$Decoration-H1)};
		text-decoration-color: #{var(Font.$Decoration-Color-H1)};
		border-bottom: #{var(Font.$Border-Bottom-H1)};
	}


	h2 {
		font-size: #{var(Font.$Size-H2)};
		line-height: #{var(Font.$Line-Height-H2)};
		letter-spacing: #{var(Font.$Char-Spacing-H2)};
		margin: #{var(Font.$Margin-H2)};
		text-decoration: #{var(Font.$Decoration-H2)};
		text-decoration-color: #{var(Font.$Decoration-Color-H2)};
		border-bottom: #{var(Font.$Border-Bottom-H2)};
	}


	h3 {
		font-size: #{var(Font.$Size-H3)};
		line-height: #{var(Font.$Line-Height-H3)};
		letter-spacing: #{var(Font.$Char-Spacing-H3)};
		margin: #{var(Font.$Margin-H3)};
		text-decoration: #{var(Font.$Decoration-H3)};
		text-decoration-color: #{var(Font.$Decoration-Color-H3)};
		border-bottom: #{var(Font.$Border-Bottom-H3)};
	}


	h4 {
		font-size: #{var(Font.$Size-H4)};
		line-height: #{var(Font.$Line-Height-H4)};
		letter-spacing: #{var(Font.$Char-Spacing-H4)};
		margin: #{var(Font.$Margin-H4)};
		text-decoration: #{var(Font.$Decoration-H4)};
		text-decoration-color: #{var(Font.$Decoration-Color-H4)};
		border-bottom: #{var(Font.$Border-Bottom-H4)};
	}


	h5 {
		font-size: #{var(Font.$Size-H5)};
		line-height: #{var(Font.$Line-Height-H5)};
		letter-spacing: #{var(Font.$Char-Spacing-H5)};
		margin: #{var(Font.$Margin-H5)};
		text-decoration: #{var(Font.$Decoration-H5)};
		text-decoration-color: #{var(Font.$Decoration-Color-H5)};
		border-bottom: #{var(Font.$Border-Bottom-H5)};
	}


	h6 {
		font-size: #{var(Font.$Size-H6)};
		line-height: #{var(Font.$Line-Height-H6)};
		letter-spacing: #{var(Font.$Char-Spacing-H6)};
		margin: #{var(Font.$Margin-H6)};
		text-decoration: #{var(Font.$Decoration-H6)};
		text-decoration-color: #{var(Font.$Decoration-Color-H6)};
		border-bottom: #{var(Font.$Border-Bottom-H6)};
	}
}




@mixin Variables-AMP() {
	@include Color.Variables;
	@include Font.Variables-AMP;
	@include Layout.Variables;
	@include Timing.Variables;
}


@mixin Variables() {
	@include Color.Variables;
	@include Font.Variables-AMP;
	@include Font.Variables-Critical;
	@include Layout.Variables;
	@include Timing.Variables;
}


@mixin AMP() {
	@include Font.Faces;
	@include _common();
}


@mixin Critical() {
	@include Font.Faces;
	@include _common();

	h1:before {
		content: #{var(Font.$Before-Content-H1)};
		margin: #{var(Font.$Before-Margin-H1)};
		color: #{var(Font.$Before-Color-H1)};
	}

	h2:before {
		content: #{var(Font.$Before-Content-H2)};
		margin: #{var(Font.$Before-Margin-H2)};
		color: #{var(Font.$Before-Color-H2)};
	}

	h3:before {
		content: #{var(Font.$Before-Content-H3)};
		margin: #{var(Font.$Before-Margin-H3)};
		color: #{var(Font.$Before-Color-H3)};
	}

	h4:before {
		content: #{var(Font.$Before-Content-H4)};
		margin: #{var(Font.$Before-Margin-H4)};
		color: #{var(Font.$Before-Color-H4)};
	}

	h5:before {
		content: #{var(Font.$Before-Content-H5)};
		margin: #{var(Font.$Before-Margin-H5)};
		color: #{var(Font.$Before-Color-H5)};
	}

	h6:before {
		content: #{var(Font.$Before-Content-H6)};
		margin: #{var(Font.$Before-Margin-H6)};
		color: #{var(Font.$Before-Color-H6)};
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		.clean:before {
			content: none;
			margin-right: initial;
		}
	}
}


@mixin Tablet() {
	body {
		#{Layout.$Body-Grid}: #{var(Layout.$Body-Grid-Tablet)};
	}
}


@mixin Desktop() {
	body {
		#{Layout.$Body-Grid}: #{var(Layout.$Body-Grid-Desktop)};
	}
}


@mixin Widescreen() {
	body {
		#{Layout.$Body-Grid}: #{var(Layout.$Body-Grid-Widescreen)};
	}
}


@mixin Print() {
	:root {
		@include Font.Variables-Print;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		display: block;
		break-inside: avoid;
	}

	h1 {
		break-before: page;
		break-after: avoid;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		break-before: avoid;
		break-after: avoid;
	}

	p {
		break-before: avoid;
		orphans: 0;
		widows: 0;
	}
}
