// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";




// Layouts
$Box-Sizing-HTML: --box-sizing-html;

$Vertical-Layout: --layout-vertical;
$Left-And-Top-Layout: --layout-left-and-top;
$Right-And-Top-Layout: --layout-right-and-top;
$Both-And-Top-Layout: --layout-both-and-top;
$Top-And-Both-Layout: --layout-top-and-both;

$Body-Grid: --body-grid;
$Body-Grid-Tablet: --body-grid-tablet;
$Body-Grid-Desktop: --body-grid-desktop;
$Body-Grid-Widescreen: --body-grid-widescreen;

$Z-Index-Max: --z-index-max;
$Z-Index-Max-Overlay: --z-index-max-overlay;
$Z-Index-Nav-Topping: --z-index-nav-topping;
$Z-Index-Nav: --z-index-nav;
$Z-Index-Nav-Overlay: --z-index-nav-overlay;
$Z-Index-Main-Topping: --z-index-main-topping;
$Z-Index-Main: --z-index-main;
$Z-Index-Main-Overlay: --z-index-main-overlay;
$Z-Index-Hidden: --z-index-hidden;

$Main-Max-Width: --main-max-width;
$Main-Margin: --main-margin;
$Main-Padding: --main-padding;

$Sidebar-Width: --sidebar-width;
$Full-Width: --body-full-width;


// values
$Width-Tablet-Value: 60rem;
$Width-Desktop-Value: 80rem;
$Width-Widescreen-Value: 120rem;

$_z-index-max-value: 2147483647;
$_z-index-max-overlay-value: $_z-index-max-value - 1;
$_z-index-nav-topping-value: $_z-index-max-value - 2;
$_z-index-nav-value: $_z-index-max-value - 3;
$_z-index-nav-overlay-value: $_z-index-max-value - 4;
$_z-index-main-topping-value: $_z-index-max-value - 5;
$_z-index-main-value: $_z-index-max-value - 6;
$_z-index-main-overlay-value: $_z-index-max-value - 7;
$_z-index-hidden-value: 0;

$_box-sizing-html-value: border-box;

$_sidebar-width-value: 22%;
$_body-full-width-value: 100%;

$Grid-Label-Content: content;
$Grid-Label-Sidebar: sidebar;
$Grid-Label-RSidebar: rsidebar;
$Grid-Label-Topbar: topbar;

$Grid-Gap: 0;

$_vertical-layout-value:
	"#{$Grid-Label-Content}" auto
	"#{$Grid-Label-Topbar}" minmax(0, auto)
	"#{$Grid-Label-Sidebar}" minmax(0, auto)
	"#{$Grid-Label-RSidebar}" minmax(0, auto)
	/ var(#{$Full-Width})
;
$_left-and-top-layout-value:
	"#{$Grid-Label-Sidebar} #{$Grid-Label-Topbar}" minmax(0, max-content)
	"#{$Grid-Label-Sidebar} #{$Grid-Label-Content}" auto
	/ minmax(0, var(#{$Sidebar-Width}))
		minmax(auto, calc(var(#{$Full-Width}) - var(#{$Sidebar-Width})))
;
$_right-and-top-layout-value:
	"#{$Grid-Label-Topbar} #{$Grid-Label-RSidebar}" minmax(0, max-content)
	"#{$Grid-Label-Content} #{$Grid-Label-RSidebar}" auto
	/ minmax(auto, calc(var(#{$Full-Width}) - var(#{$Sidebar-Width})))
		minmax(0, var(#{$Sidebar-Width}))
;
$_both-and-top-layout-value:
	"#{$Grid-Label-Sidebar} #{$Grid-Label-Topbar} #{$Grid-Label-RSidebar}" minmax(0, max-content)
	"#{$Grid-Label-Sidebar} #{$Grid-Label-Content} #{$Grid-Label-RSidebar}" auto
	/ minmax(0, var(#{$Sidebar-Width}))
		minmax(auto, calc(var(#{$Full-Width}) - 2*var(#{$Sidebar-Width})))
		minmax(0, var(#{$Sidebar-Width}))
;
$_top-and-both-layout-value:
	"#{$Grid-Label-Topbar} #{$Grid-Label-Topbar} #{$Grid-Label-Topbar}" minmax(0, max-content)
	"#{$Grid-Label-Sidebar} #{$Grid-Label-Content} #{$Grid-Label-RSidebar}" auto
	/ minmax(0, var(#{$Sidebar-Width}))
		minmax(auto, calc(var(#{$Full-Width}) - 2*var(#{$Sidebar-Width})))
		minmax(0, var(#{$Sidebar-Width}))
;


$_main-max-width-value: 100%;
$_main-margin-value: 0;
$_main-padding-value: 3.5rem;


// Render variables
@mixin Variables() {
	#{$Z-Index-Max}: #{meta.inspect($_z-index-max-value)};
	#{$Z-Index-Max-Overlay}: #{meta.inspect($_z-index-max-overlay-value)};
	#{$Z-Index-Nav-Topping}: #{meta.inspect($_z-index-nav-topping-value)};
	#{$Z-Index-Nav}: #{meta.inspect($_z-index-nav-value)};
	#{$Z-Index-Nav-Overlay}: #{meta.inspect($_z-index-nav-overlay-value)};
	#{$Z-Index-Main-Topping}: #{meta.inspect($_z-index-main-topping-value)};
	#{$Z-Index-Main}: #{meta.inspect($_z-index-main-value)};
	#{$Z-Index-Main-Overlay}: #{meta.inspect($_z-index-main-overlay-value)};
	#{$Z-Index-Hidden}: #{meta.inspect($_z-index-hidden-value)};

	#{$Vertical-Layout}: #{meta.inspect($_vertical-layout-value)};
	#{$Left-And-Top-Layout}: #{meta.inspect($_left-and-top-layout-value)};
	#{$Right-And-Top-Layout}: #{meta.inspect($_right-and-top-layout-value)};
	#{$Both-And-Top-Layout}: #{meta.inspect($_both-and-top-layout-value)};
	#{$Top-And-Both-Layout}: #{meta.inspect($_top-and-both-layout-value)};

	#{$Body-Grid}: #{var($Vertical-Layout)};
	#{$Body-Grid-Tablet}: #{var($Both-And-Top-Layout)};
	#{$Body-Grid-Desktop}: #{var($Top-And-Both-Layout)};
	#{$Body-Grid-Widescreen}: #{var($Top-And-Both-Layout)};

	#{$Box-Sizing-HTML}: #{meta.inspect($_box-sizing-html-value)};

	#{$Main-Max-Width}: #{meta.inspect($_main-max-width-value)};
	#{$Main-Margin}: #{meta.inspect($_main-margin-value)};
	#{$Main-Padding}: #{meta.inspect($_main-padding-value)};

	#{$Sidebar-Width}: #{meta.inspect($_sidebar-width-value)};
	#{$Full-Width}: #{meta.inspect($_body-full-width-value)};
}
