// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";




// Variables
$Dl-Overflow: --dl-overflow;
$Dl-Padding: --dl-padding;
$Dl-Border: --dl-border;

$Dt-Font-Weight: --dt-font-weight;
$Dt-Margin: --dt-margin;
$Dt-Padding: --dt-padding;
$Dt-Border-Top: --dt-border-top;

$Dd-Margin: --dd-margin;
$Dd-Padding: --dd-padding;




// Value
$dd-counter: dd-items;

$_dl-overflow-value: auto;
$_dl-padding-value: .5rem;
$_dl-border-value: 1px solid var(#{Color.$Primary-500});

$_dt-font-weight-value: bold;
$_dt-margin-value: .5rem;
$_dt-padding-value: .5rem;
$_dt-border-top-value: 1px solid var(#{Color.$Grey-400});

$_dd-margin-value: 0 0 0 2.5rem;
$_dd-padding-value: 0 0 0 5rem;



@mixin Variables() {
	#{$Dl-Overflow}: #{meta.inspect($_dl-overflow-value)};
	#{$Dl-Padding}: #{meta.inspect($_dl-padding-value)};
	#{$Dl-Border}: #{meta.inspect($_dl-border-value)};

	#{$Dt-Font-Weight}: #{meta.inspect($_dt-font-weight-value)};
	#{$Dt-Margin}: #{meta.inspect($_dt-margin-value)};
	#{$Dt-Padding}: #{meta.inspect($_dt-padding-value)};
	#{$Dt-Border-Top}: #{meta.inspect($_dt-border-top-value)};

	#{$Dd-Margin}: #{meta.inspect($_dd-margin-value)};
	#{$Dd-Padding}: #{meta.inspect($_dd-padding-value)};
}
