// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "DefList";




@mixin _common() {
	dl {
		overflow: var(#{DefList.$Dl-Overflow});
		padding: var(#{DefList.$Dl-Padding});
		border-top: var(#{DefList.$Dl-Border});
		border-bottom: var(#{DefList.$Dl-Border});
		counter-reset: #{meta.inspect(DefList.$dd-counter)};

		dt {
			font-weight: var(#{DefList.$Dt-Font-Weight});
			margin: var(#{DefList.$Dt-Margin});
			padding: var(#{DefList.$Dt-Padding});
			border-top: var(#{DefList.$Dt-Border-Top});
			counter-reset: #{meta.inspect(DefList.$dd-counter)};

			&:first-of-type {
				margin-top: 0;
				border-top: none;
			}
		}

		dd {
			// nullify the default stylesheet
			margin-inline-start: 0;
			position: relative;

			// set Bissetii controllable styling
			counter-increment: #{meta.inspect(DefList.$dd-counter)};
			margin: var(#{DefList.$Dd-Margin});
			padding: var(#{DefList.$Dd-Padding});

			&:before {
				content: counter(#{meta.inspect(DefList.$dd-counter)}) ". ";
				position: absolute;
				left: 0;
			}
		}
	}
}




@mixin Variables-AMP() {
	@include DefList.Variables();
}




@mixin Variables() {
	@include DefList.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
}
