// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";




// Variables
$Color: --blockquote-color;
$Background-Color: --blockquote-background-color;
$Border: --blockquote-border;
$Border-Left: --blockquote-border-left;
$Border-Radius: --blockquote-border-radius;
$Margin: --blockquote-margin;
$Padding: --blockquote-padding;
$Font-Style: --blockquote-font-style;
$Print-Break-Inside: --blockquote-print-break-inside;

$Cite-Display: --blockquote-cite-display;
$Cite-Margin: --blockquote-cite-margin;
$Cite-Font-Size: --blockquote-cite-font-size;
$Cite-Font-Style: --blockquote-cite-font-style;
$Cite-Text-Align: --blockquote-cite-text-align;



// Values
$_color-value: var(#{Color.$Grey-800});
$_background-color-value: var(#{Color.$Grey-50});
$_border-value: .1rem solid var(#{Color.$Grey-800});
$_border-left-value: .5rem solid var(#{Color.$Grey-800});
$_border-radius-value: .4rem;
$_margin-value: 2.1rem 0;
$_padding-value: 1rem 1.5rem;
$_font-style-value: italic;
$_print-break-inside-value: avoid;

$_cite-display-value: block;
$_cite-margin-value: 1rem auto;
$_cite-font-size-value: larger;
$_cite-font-style-value: italic;
$_cite-text-align-value: center;


@mixin Variables() {
	#{$Color}: #{meta.inspect($_color_value)};
	#{$Background-Color}: #{meta.inspect($_background-color-value)};
	#{$Border}: #{meta.inspect($_border-value)};
	#{$Border-Left}: #{meta.inspect($_border-left-value)};
	#{$Border-Radius}: #{meta.inspect($_border-radius-value)};
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};
	#{$Font-Style}: #{meta.inspect($_font-style-value)};
	#{$Print-Break-Inside}: #{meta.inspect($_print-break-inside-value)};

	#{$Cite-Display}: #{meta.inspect($_cite-display-value)};
	#{$Cite-Margin}: #{meta.inspect($_cite-margin-value)};
	#{$Cite-Font-Size}: #{meta.inspect($_cite-font-size-value)};
	#{$Cite-Font-Style}: #{meta.inspect($_cite-font-style-value)};
	#{$Cite-Text-Align}: #{meta.inspect($_cite-text-align-value)};
}
