// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Blockquote";




@mixin _common() {
	blockquote {
		color: var(#{Blockquote.$Color});
		background-color: var(#{Blockquote.$Background-Color});
		border: var(#{Blockquote.$Border});
		border-left: var(#{Blockquote.$Border-Left});
		border-radius: var(#{Blockquote.$Border-Radius});
		margin: var(#{Blockquote.$Margin});
		padding: var(#{Blockquote.$Padding});
		font-style: var(#{Blockquote.$Font-Style});

		cite {
			display: var(#{Blockquote.$Cite-Display});
			margin: var(#{Blockquote.$Cite-Margin});

			font-size: var(#{Blockquote.$Cite-Font-Size});
			font-style: var(#{Blockquote.$Cite-Font-Style});
			text-align: var(#{Blockquote.$Cite-Text-Align});
		}
	}
}




@mixin Variables-AMP() {
	@include Blockquote.Variables();
}




@mixin Variables() {
	@include Blockquote.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	blockquote {
		break-inside: var(#{Blockquote.$Print-Break-Inside});
	}
}
