// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Note";




@mixin _common() {
	.note {
		display: grid;
		gap: var(#{Note.$Layout-Gap});
		grid: var(#{Note.$Layout});
		padding: var(#{Note.$Padding});
		margin: var(#{Note.$Margin});

		background: var(#{Note.$Background});
		border-radius: var(#{Note.$Border-Radius});
		border: var(#{Note.$Border});
		border-top: var(#{Note.$Border-Top});

		.icon {
			grid-area: #{meta.inspect(Note.$Icon-Label)};
			justify-self: center;
			align-self: center;
		}


		.title {
			grid-area: #{meta.inspect(Note.$Title-Label)};
			margin: var(#{meta.inspect(Note.$Title-Margin)});
			align-self: var(#{meta.inspect(Note.$Title-Align-Self)});
			justify-self: var(#{meta.inspect(Note.$Title-Justify-Self)});

			font-weight: var(#{Note.$Title-Font-Weight});
			color: var(#{Note.$Title-Color});
		}


		.content {
			grid-area: #{meta.inspect(Note.$Content-Label)};
		}


		&.success {
			#{Note.$Background}:
				#{meta.inspect(#{Note.$Background-Success-Value})};
			#{Note.$Border}:
				#{meta.inspect(#{Note.$Border-Success-Value})};
			#{Note.$Border-Top}:
				#{meta.inspect(#{Note.$Border-Top-Success-Value})};
			#{Note.$Title-Color}:
				#{meta.inspect(#{Note.$Title-Color-Success-Value})};
		}


		&.warning {
			#{Note.$Background}:
				#{meta.inspect(#{Note.$Background-Warning-Value})};
			#{Note.$Border}:
				#{meta.inspect(#{Note.$Border-Warning-Value})};
			#{Note.$Border-Top}:
				#{meta.inspect(#{Note.$Border-Top-Warning-Value})};
			#{Note.$Title-Color}:
				#{meta.inspect(#{Note.$Title-Color-Warning-Value})};
		}


		&.error {
			#{Note.$Background}:
				#{meta.inspect(#{Note.$Background-Error-Value})};
			#{Note.$Border}:
				#{meta.inspect(#{Note.$Border-Error-Value})};
			#{Note.$Border-Top}:
				#{meta.inspect(#{Note.$Border-Top-Error-Value})};
			#{Note.$Title-Color}:
				#{meta.inspect(#{Note.$Title-Color-Error-Value})};
		}
	}
}




@mixin Variables-AMP() {
	@include Note.Variables();
}




@mixin Variables() {
	@include Note.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	.note {
		break-inside: avoid;
	}
}
