// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";




// Variables
$Layout: --note-layout;
$Layout-Gap: --note-layout-gap;
$Padding: --note-padding;
$Margin: --note-margin;
$Background: --note-background;
$Border-Radius: --note-border-radius;
$Border: --note-border;
$Border-Top: --note-border-top;

$Title-Margin: --note-title-margin;
$Title-Font-Weight: --note-title-font-weight;
$Title-Align-Self: --note-title-align-self;
$Title-Justify-Self: --note-title-justify-self;
$Title-Color: --note-title-color;

$Icon-Margin: --note-icon-margin;




// Values
$Icon-Label: note-icon;
$Title-Label: note-title;
$Content-Label: note-content;
$_layout-value:
	"#{$Icon-Label} #{$Title-Label}" minmax(0, max-content)
	"#{$Content-Label} #{$Content-Label}" auto
	/ minmax(0, max-content) 1fr
;
$_layout-gap-value: 1rem;
$_border-radius-value: .8rem;
$_padding-value: 1.5rem;
$_margin-value: 1.5rem 0;

$Background-Default-Value: var(#{Color.$Blue-100});
$Background-Success-Value: var(#{Color.$Green-100});
$Background-Warning-Value: var(#{Color.$Yellow-100});
$Background-Error-Value: var(#{Color.$Red-100});

$_border-settings: .1rem solid;
$Border-Default-Value: $_border-settings var(#{Color.$Blue-700});
$Border-Success-Value: $_border-settings var(#{Color.$Green-700});
$Border-Warning-Value: $_border-settings var(#{Color.$Yellow-700});
$Border-Error-Value: $_border-settings var(#{Color.$Red-700});

$_border-top-settings: .4rem solid;
$Border-Top-Default-Value: $_border-top-settings var(#{Color.$Blue-700});
$Border-Top-Success-Value: $_border-top-settings var(#{Color.$Green-700});
$Border-Top-Warning-Value: $_border-top-settings var(#{Color.$Yellow-700});
$Border-Top-Error-Value: $_border-top-settings var(#{Color.$Red-700});

$_title-margin-value: auto 0;
$_title-font-weight-value: bold;
$_title-align-self-value: center;
$_title-justify-self-value: left;
$Title-Color-Default-Value: var(#{Color.$Blue-700});
$Title-Color-Success-Value: var(#{Color.$Green-700});
$Title-Color-Warning-Value: var(#{Color.$Yellow-700});
$Title-Color-Error-Value: var(#{Color.$Red-700});

$_icon-margin-value: auto;




@mixin Variables() {
	#{$Layout}: #{meta.inspect($_layout-value)};
	#{$Layout-Gap}: #{meta.inspect($_layout-gap-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Border-Radius}: #{meta.inspect($_border-radius-value)};
	#{$Background}: #{meta.inspect(#{$Background-Default-Value})};
	#{$Border}: #{meta.inspect(#{$Border-Default-Value})};
	#{$Border-Top}: #{meta.inspect(#{$Border-Top-Default-Value})};

	#{$Title-Margin}: #{meta.inspect($_title-margin-value)};
	#{$Title-Align-Self}: #{meta.inspect($_title-align-self-value)};
	#{$Title-Justify-Self}: #{meta.inspect($_title-justify-self-value)};
	#{$Title-Color}: #{meta.inspect($Title-Color-Default-Value)};
	#{$Title-Font-Weight}: #{meta.inspect($_title-font-weight-value)};

	#{$Icon-Margin}: #{meta.inspect($_icon-margin-value)};
}
