// Copyright 2021 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2021 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";




// Variables
$Margin: --nav-catalog-margin;
$Padding: --nav-catalog-padding;
$Border: --nav-catalog-border;
$Background: --nav-catalog-background;


// Values
$_margin-value: 5rem 0;
$_padding-value: 0;
$_border-value: unset;
$_background-value: transparent;




@mixin Variables() {
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};
	#{$Border}: #{meta.inspect($_border-value)};
	#{$Background}: #{meta.inspect($_background-value)};
}
