// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";




// Variables
$Overflow: --divider-overflow;
$Margin: --divider-margin;
$Break-Inside: --divider-break-inside;




// Values
$_overflow-value: visible;
$_margin-value: 5.0rem 0;
$_break-inside-value: avoid;




@mixin Variables() {
	#{$Overflow}: #{meta.inspect($_overflow-value)};
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Break-Inside}: #{meta.inspect($_break-inside-value)};
}
