// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";
@use "../root/Timing";




// Variables
$Grid: --card-grid;
$Overflow: --card-overflow;
$Width: --card-width;
$Max-Width: --card-max-width;
$Height: --card-height;
$Border-Radius: --card-border-radius;
$Padding: --card-padding;
$Margin: --card-margin;
$Border: --card-border;
$Background: --card-background;
$Filter: --card-filter;


$Thumbnail-Overflow: --card-thumbnail-overflow;
$Thumbnail-Height: --card-thumbnail-height;
$Thumbnail-Padding: --card-thumbnail-padding;
$Thumbnail-Margin: --card-thumbnail-margin;


$Content-Overflow: --card-content-overflow;
$Content-Height: --card-content-height;
$Content-Padding: --card-content-padding;
$Content-Margin: --card-content-margin;


$CTA-Overflow: --card-cta-overflow;
$CTA-Height: --card-cta-height;
$CTA-Padding: --card-cta-padding;
$CTA-Margin: --card-cta-margin;
$CTA-List-Flex-Direction: --card-cta-list-flex-direction;
$CTA-List-Align-Items: --card-cta-list-align-items;
$CTA-List-Justify-Content: --card-cta-list-justify-content;
$CTA-List-Align-Content: --card-cta-list-align-content;




// Values
$thumbnail-layout: thumbnail;
$content-layout: content;
$cta-layout: cta;
$_overflow-value: hidden;
$_width-value: max-content;
$_max-width-value: 100%;
$_height-value: max-content;
$_border-radius-value: 1rem;
$_padding-value: 0;
$_margin-value: .5rem;
$_border-value: unset;
$_background-value: var(#{Color.$Grey-50});
$_filter-value: drop-shadow(0 0 .1rem var(#{Color.$Grey-900}));

$_thumbnail-overflow-value: hidden;
$_thumbnail-height-value: 100%;
$_thumbnail-padding-value: 0;
$_thumbnail-margin-value: 0;

$_content-overflow-value: auto;
$_content-height-value: unset;
$_content-padding-value: 0;
$_content-margin-value: 0;

$_cta-overflow-value: visible;
$_cta-height-value: 100%;
$_cta-padding-value: 0;
$_cta-margin-value: 0;
$_cta-list-flex-direction-value: row;
$_cta-list-align-items-value: center;
$_cta-list-justify-content-value: center;
$_cta-list-align-content-value: center;



@mixin Variables() {
	#{$Overflow}: #{meta.inspect($_overflow-value)};
	#{$Width}: #{meta.inspect($_width-value)};
	#{$Max-Width}: #{meta.inspect($_max-width-value)};
	#{$Height}: #{meta.inspect($_height-value)};
	#{$Border-Radius}: #{meta.inspect($_border-radius-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Border}: #{meta.inspect($_border-value)};
	#{$Background}: #{meta.inspect($_background-value)};
	#{$Filter}: #{meta.inspect($_filter-value)};

	#{$Thumbnail-Overflow}: #{meta.inspect($_thumbnail-overflow-value)};
	#{$Thumbnail-Height}: #{meta.inspect($_thumbnail-height-value)};
	#{$Thumbnail-Padding}: #{meta.inspect($_thumbnail-padding-value)};
	#{$Thumbnail-Margin}: #{meta.inspect($_thumbnail-margin-value)};

	#{$Content-Overflow}: #{meta.inspect($_content-overflow-value)};
	#{$Content-Height}: #{meta.inspect($_content-height-value)};
	#{$Content-Padding}: #{meta.inspect($_content-padding-value)};
	#{$Content-Margin}: #{meta.inspect($_content-margin-value)};

	#{$CTA-Overflow}: #{meta.inspect($_cta-overflow-value)};
	#{$CTA-Height}: #{meta.inspect($_cta-height-value)};
	#{$CTA-Padding}: #{meta.inspect($_cta-padding-value)};
	#{$CTA-Margin}: #{meta.inspect($_cta-margin-value)};
	#{$CTA-List-Flex-Direction}:
			#{meta.inspect($_cta-list-flex-direction-value)};
	#{$CTA-List-Align-Items}:
			#{meta.inspect($_cta-list-align-items-value)};
	#{$CTA-List-Justify-Content}:
			#{meta.inspect($_cta-list-justify-content-value)};
	#{$CTA-List-Align-Content}:
			#{meta.inspect($_cta-list-align-content-value)};
}
