// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Card";
@use "../root/Helper";




@mixin _common() {
	.Card {
		display: grid;
		grid: var(#{Card.$Grid});
		overflow: var(#{Card.$Overflow});

		width: var(#{Card.$Width});
		max-width: var(#{Card.$Max-Width});
		height: var(#{Card.$Height});
		border-radius: var(#{Card.$Border-Radius});

		padding: var(#{Card.$Padding});
		margin: var(#{Card.$Margin});

		border: var(#{Card.$Border});
		background: var(#{Card.$Background});

		filter: var(#{Card.$Filter});

		.thumbnail {
			grid-area: #{meta.inspect(Card.$thumbnail-layout)};
			overflow: var(#{Card.$Thumbnail-Overflow});

			height: var(#{Card.$Thumbnail-Height});

			padding: var(#{Card.$Thumbnail-Padding});
			margin: var(#{Card.$Thumbnail-Margin});
		}

		.content {
			grid-area: #{meta.inspect(Card.$content-layout)};
			overflow: var(#{Card.$Content-Overflow});

			height: var(#{Card.$Content-Height});

			padding: var(#{Card.$Content-Padding});
			margin: var(#{Card.$Content-Margin});

			& > :first-child {
				margin-top: 0;
			}
		}

		.cta {
			grid-area: #{meta.inspect(Card.$cta-layout)};
			overflow: var(#{Card.$CTA-Overflow});

			height: var(#{Card.$CTA-Height});

			padding: var(#{Card.$CTA-Padding});
			margin: var(#{Card.$CTA-Margin});

			& > ul.default,
			& > ol.default {
				display: flex;
				flex-direction:
					var(#{Card.$CTA-List-Flex-Direction});
				align-items:
					var(#{Card.$CTA-List-Align-Items});
				justify-content:
					var(#{Card.$CTA-List-Justify-Content});
				align-content:
					var(#{Card.$CTA-List-Align-Content});

				margin: 0;
				padding: 0;

				list-style-type: none;
				list-style-image: none;
			}
		}
	}
}




@mixin Variables-AMP() {
	@include Card.Variables();
}




@mixin Variables() {
	@include Card.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	.Card {
		break-inside: avoid;
	}
}
