// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "List";




@mixin _common() {
	ol,
	ul {
		position: var(#{List.$Position});
		padding-left: var(#{List.$Padding-Left});
		margin: var(#{List.$Margin});
		list-style-type: var(#{List.$Style-Type});
		list-style-position: var(#{List.$Style-Position});
		list-style-image: var(#{List.$Style-Image});
	}

	ul {
		#{List.$Style-Type}: #{meta.inspect(List.$ul-style-type-value)};
	}

	ol {
		#{List.$Style-Type}: #{meta.inspect(List.$ol-style-type-value)};
	}
}




@mixin Variables-AMP() {
	@include List.Variables();
}




@mixin Variables() {
	@include List.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	li {
		break-inside: var(#{List.$Li-Print-Break-Inside});
	}
}
