// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";




// Variables
$Position: --list-position;
$Padding-Left: --list-padding-left;
$Margin: --list-margin;
$Style-Type: --list-style-type;
$Style-Position: --list-style-position;
$Style-Image: --list-style-image;

$Li-Print-Break-Inside: --li-print-break-inside;




// Value
$_position-value: relative;
$_padding-left-value: 2.5rem;
$_margin-value: 1rem 1rem 1rem 3rem;
$_style-type-value: auto;
$_style-position-value: outside;
$_style-image-value: none;

$_li-print-break-inside-value: avoid;

$ul-style-type-value: disc;
$ol-style-type-value: decimal;




@mixin Variables() {
	#{$Position}: #{meta.inspect($_position-value)};
	#{$Padding-Left}: #{meta.inspect($_padding-left-value)};
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Style-Type}: #{meta.inspect($_style-type-value)};
	#{$Style-Position}: #{meta.inspect($_style-position-value)};
	#{$Style-Image}: #{meta.inspect($_style-image-value)};

	#{$Li-Print-Break-Inside}: #{meta.inspect($_li-print-break-inside-value)};
}
