// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";




$Color: --anchor-color;
$Color-Focus: --anchor-focus-color;
$Color-Hover: --anchor-hover-color;
$Border-Bottom: --anchor-border-bottom;
$Text-Decoration: --anchor-text-decoration;
$Overflow-Wrap: --anchor-overflow-wrap;
$Word-Break: --anchor-word-break;
$Print-Content: --anchor-print-content;




$_color-value: var(#{Color.$Primary-700});
$_color-focus-value: var(#{Color.$Primary-500});
$_color-hover-value: var(#{Color.$Primary-500});
$_border-bottom-value: 2px solid var(#{Color.$Primary-500});
$_text-decoration-value: none;
$_overflow-wrap-value: break-word;
$_word-break-value: break-word;
$_print-content-value: " (" attr(href) ")";




@mixin Variables() {
	#{$Color}: #{meta.inspect($_color-value)};
	#{$Color-Focus}: #{meta.inspect($_color-focus-value)};
	#{$Color-Hover}: #{meta.inspect($_color-hover-value)};
	#{$Border-Bottom}: #{meta.inspect($_border-bottom-value)};
	#{$Text-Decoration}: #{meta.inspect($_text-decoration-value)};
	#{$Overflow-Wrap}: #{meta.inspect($_overflow-wrap-value)};
	#{$Word-Break}: #{meta.inspect($_word-break-value)};
	#{$Print-Content}: #{meta.inspect($_print-content-value)};
}
