// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Anchor";




@mixin _common() {
	a {
		color: #{var(Anchor.$Color)};
		border-bottom: #{var(Anchor.$Border-Bottom)};
		text-decoration: #{var(Anchor.$Text-Decoration)};
		overflow-wrap: #{var(Anchor.$Overflow-Wrap)};
		word-break: #{var(Anchor.$Word-Break)};

		&:focus {
			#{Anchor.$Color}: #{var(Anchor.$Color-Focus)};
		}

		&:hover {
			#{Anchor.$Color}: #{var(Anchor.$Color-Hover)};
		}

		&.wrap {
			#{Anchor.$Border-Bottom}: none;
		}
	}
}




@mixin Variables-AMP() {
	@include Anchor.Variables();
}




@mixin Variables() {
	@include Anchor.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	a:after {
		content: #{var(Anchor.$Print-Content)};
	}
}
