// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";




// Variables
$Width: --grid-width;
$Justify-Content: --grid-justify-content;
$Align-Items: --grid-align-items;
$Flex-Wrap: --grid-flex-wrap;


$Column-Display: --grid-column-display;
$Column-Max-Width: --grid-column-max-width;
$Column-Margin: --grid-column-margin;
$Column-Padding: --grid-column-padding;
$Column-Visibility: --grid-column-visibility;
$Column-Base: --grid-column-base;
$Column-Multiplier: --grid-column-multiplier;
$Column-Flex-Basis: --grid-column-flex-basis;




// Values
$_width-value: 100%;
$_justify-content-value: space-around;
$_align-items-value: stretch;
$_flex-wrap-value: wrap;

$_column-display-value: block;
$_column-max-width-value: 100%;
$_column-margin-value: .3rem;
$_column-padding-value: 0;
$_column-visibility-value: visible;
$_column-base-value: 10;
$_column-multiplier-value: 1;
$_column-flex-basis-value: auto;




@mixin Variables() {
	#{$Width}: #{meta.inspect($_width-value)};
	#{$Justify-Content}: #{meta.inspect($_justify-content-value)};
	#{$Align-Items}: #{meta.inspect($_align-items-value)};
	#{$Flex-Wrap}: #{meta.inspect($_flex-wrap-value)};


	#{$Column-Display}: #{meta.inspect($_column-display-value)};
	#{$Column-Max-Width}: #{meta.inspect($_column-max-width-value)};
	#{$Column-Margin}: #{meta.inspect($_column-margin-value)};
	#{$Column-Padding}: #{meta.inspect($_column-padding-value)};
	#{$Column-Visibility}: #{meta.inspect($_column-visibility-value)};
	#{$Column-Base}: #{meta.inspect($_column-base-value)};
	#{$Column-Multiplier}: #{meta.inspect($_column-multiplier-value)};
	#{$Column-Flex-Basis}: #{meta.inspect($_column-flex-basis-value)};
}
