// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Grid";




@mixin _common() {
	.row {
		display: flex;
		width: var(#{Grid.$Width});
		justify-content: var(#{Grid.$Justify-Content});
		align-items: var(#{Grid.$Align-Items});
		flex-wrap: var(#{Grid.$Flex-Wrap});


		&.align-top {
			#{Grid.$Align-Items}: flex-start;
		}

		&.align-middle {
			#{Grid.$Align-Items}: center;
		}

		&.align-bottom {
			#{Grid.$Align-Items}: bottom;
		}

		&.align-baseline {
			#{Grid.$Align-Items}: baseline;
		}

		.column {
			display: var(#{Grid.$Column-Display});
			max-width: var(#{Grid.$Column-Max-Width});
			margin: var(#{Grid.$Column-Margin});
			padding: var(#{Grid.$Column-Padding});
			visibility: var(#{Grid.$Column-Visibility});
			flex-grow: calc(var(#{Grid.$Column-Base}) *
					var(#{Grid.$Column-Multiplier}));
			flex-basis: var(#{Grid.$Column-Flex-Basis});

			&.offset {
				#{Grid.$Column-Visibility}: hidden;
			}

			&.grid-2x {
				#{Grid.$Column-Multiplier}: 2;
			}

			&.grid-3x {
				#{Grid.$Column-Multiplier}: 3;
			}

			&.grid-4x {
				#{Grid.$Column-Multiplier}: 4;
			}

			&.grid-5x {
				#{Grid.$Column-Multiplier}: 5;
			}

			&.grid-6x {
				#{Grid.$Column-Multiplier}: 6;
			}

			&.grid-7x {
				#{Grid.$Column-Multiplier}: 7;
			}

			&.grid-8x {
				#{Grid.$Column-Multiplier}: 8;
			}

			&.grid-9x {
				#{Grid.$Column-Multiplier}: 9;
			}

			&.grid-10x {
				#{Grid.$Column-Multiplier}: 10;
			}
		}
	}
}




@mixin Variables-AMP() {
	@include Grid.Variables();
}




@mixin Variables() {
	@include Grid.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	.row {
		break-inside: avoid;
	}
}
