<li {{- if .Class }} class="{{- .Class -}}"{{- end -}}>
{{- if ne (len .Children) 0 }}
	<input id="submenu-input-{{- .UID -}}"
		class="submenu"
		type="checkbox"
		checked />
	<label id="submenu-label-{{- .UID -}}"
		class="submenu"
		for="submenu-input-{{- .UID -}}">
		<span>{{- .Title -}}</span>
	</label>

	<ul id="submenu-list-{{- .UID -}}" class="submenu">
		{{- range .Children -}}
			{{- partial "nav-item.html" . -}}
		{{- end }}
	</ul>
{{- else }}
	<span class="nav-symbol">
		{{- if .Pre -}}{{- .Pre -}}{{- end -}}
	</span>
	<a href="{{- .Link.URL -}}">
		<span>{{- .Title -}}</span>
	</a>
{{- end }}
</li>
