<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<meta http-equiv="Status" content="404 not found"/>
	<meta name="robots" content="nofollow,noarchive,noindex,noodp,noydir" />
	<style>
		*,
		*:after,
		*:before {
			box-sizing: inherit;
		}

		html {
			box-sizing: border-box;
			font-size: 62.5%;
		}

		body {
			width: 100vw;
			height: 100%;
			margin: 0;
			font-size: 1.6rem;
		}

		footer,
		nav {
			display: none;
		}

		main {
			background-position: center center;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			min-height: 100vh;
			min-width: 100%;
			max-width: 1200px;
		}

		.banner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: rgba(0,0,0,.85);
			border-radius: 1rem;
			padding: 2rem;
			color: white;
			min-width: 80%;
			text-align: center;
		}

		.banner h1 {
			font-size: 8.5rem;
			margin: 0 .5rem;
			color: #ffff8d;
		}

		.banner p {
			margin: .8rem 0;
			font-size: 1.6rem;
		}

		.call-to-action {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			column-gap: 2rem;
			margin-top: 3rem;
		}

		.call-to-action a {
			display: block;
			border-radius: .3rem;
			width: 100%;
			max-width: 25rem;
			min-height: 2rem;
			text-decoration: none;
			font-size: 3rem;
			padding-top: .5rem;
			background-color: #fff176;
			color: #ffa000;
			border: 5px solid #ffa000;

			-webkit-transition: .6s;
			-moz-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}

		.call-to-action a:focus,
		.call-to-action a:hover {
			background-color: #ffa000;
			color: white;
		}

		.call-to-action a.home {
			background-color: #a5d6a7;
			color: #00600f;
			border: 5px solid #00600f;
		}

		.call-to-action a.home:focus,
		.call-to-action a.home:hover {
			background-color: #00600f;
			color: white;
		}

		.background {
			position: fixed;
			top: 0;
			bottom: 0;
			left: -50%;
			right: -50%;
			z-index: -1;

			animation: slide 3s ease-in-out infinite alternate;
			background-image: linear-gradient(-60deg, #82b1ff 50%, #ffff8d 50%);
			opacity: .5;
		}

		.background.type2 {
			animation-duration:3s;
		}

		.background.type3 {
			animation-duration:4s;
		}

		@keyframes slide {
			0% {
				transform: translateX(-25%);
			}
			100% {
				transform: translateX(25%);
			}
		}
	</style>
</head>
{{- partial "functions/generateBody.html" . }}
	<div class="background type1"></div>
	<div class="background type2"></div>
	<div class="background type3"></div>
	<main style="background-image: url({{- .Page.Site.BaseURL -}}/img/crystal-404.svg)">
		<div class="banner">
			<h1>404</h1>
			<p>
				Opps?! Wrong place/something is broken.
				Let's head back.
			</p>
			<p>
				啊?! 去错地方/有东西坏了。
				咱们回去吧。
			</p>
			<p>
				Ah?! Salah tempat/barang koyak.
				Mari balik.
			</p>
			<p>
				Ou?! Mauvais endroit/Quelque chose est cassé.
				Retournons.
			</p>
			<p>
				Eh?! 間違ったウェブサイト/何かが壊れています。
				戻りましょう。
			</p>
			<div class="call-to-action">
				<a href="#" onclick="history.go(-1)">⮪</a>
				<a class="home" href="{{- .Page.Site.BaseURL -}}">🏠</a>
			</div>
		</div>
	</main>
</body>
</html>
