<!DOCTYPE html>
{{- if eq .Page.OutputFormat .Page.MediaTypes.AMP.Name }}
<html ⚡>
<head>
	{{ partial "meta.amp.html" . -}}
{{- else }}
<html {{- if .Page.Language.Code }} lang="{{ .Page.Language.Code }}" {{- end }}>
<head>
	{{ partial "meta.html" . -}}
{{- end -}}

	<title>{{- .Page.Title -}}</title>
	{{ partial "shortcodes/css.html" . -}}
	{{ .Page.Generator -}}

	{{- if eq .Page.Layout "templates/redirect.html" }}
<meta name="robots" content="noindex" />
<meta http-equiv="refresh" content="0; url={{- .Redirect.URL -}}" />
	{{- end }}
</head>

{{ partial .Page.Layout . -}}
</html>
