{{- partial "functions/generateBody.html" . }}
	<main>
		<h1>Debug Content</h1>
		<p>This is a debug content.</p>
	</main>
	<nav class="Sidebar">
		<ul>
			<li><a href="#">Link 1</a></li>
			<li><a href="#" class="wrap">Link 2</a></li>
		</ul>
	</nav>
</body>
