{{- $ld := dict "Dict" "bissetii.i18n" -}}
{{- $ld = merge $ld (dict "context" .context) -}}
{{- $ld = merge $ld (dict "Lang" .Page.Language.Code) -}}


{{- $title := merge $ld (dict "Query" "list.Section.Title") -}}
{{- $title = partial "shortcodes/translate.html" $title -}}


{{- $description := merge $ld (dict "Query" "list.Section.Description") -}}
{{- $description = partial "shortcodes/translate.html" $description -}}


{{- partial "functions/generateBody.html" . }}
	<main>
	{{- if .Page.Content }}
		{{ .Page.Content -}}
	{{- else }}
		<h1>{{ .Page.Title }}</h1>
		<h2>{{- $title -}}</h2>
		{{- $description -}}
	{{- end }}
		{{- partial "shortcodes/__page-list.html" . }}
		{{- partial "shortcodes/footer.html" . }}
	</main>

	{{- partial "shortcodes/nav-sidebar.html" . -}}
	{{- partial "shortcodes/js.html" . }}
</body>
