{{- $ld := merge .LangData (dict "Lang" .Page.Language.Code) -}}

{{- $title := merge $ld (dict "Query" "redirect.General.Title") -}}
{{- $title = partial "shortcodes/translate.html" $title -}}

{{- $description := merge $ld (dict "Query" "redirect.General.Description") -}}
{{- $description = partial "shortcodes/translate.html" $description -}}

{{- $helper := merge $ld (dict "Query" "redirect.General.CTA") -}}
{{- $helper = partial "shortcodes/translate.html" $helper -}}

{{- partial "functions/generateBody.html" . }}
	<main>
		<h1>{{- $title -}}...</h1>

			<p><center>{{- $description -}}:</center></p>
			<center><a class="button pinpoint"
				href="{{- .Redirect.URL -}}">
				<center>{{- .Redirect.URL -}}</center>
			</a></center>
			<p><center>{{- $helper -}}</center></p>

		{{ partial "shortcodes/footer.html" . }}
	</main>

	{{- partial "shortcodes/nav-sidebar.html" . -}}
</body>
