// Copyright 2021 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2021 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "NavSidebar";
@use "../root/Helper";
@use "../list/List";


@mixin _common() {
	@include Helper.Keyframe(NavSidebar.$submenu-animation-name) {
		0% {
			visibility: hidden;
			opacity: 0;
			transform: translateY(-1rem);
		}
		100% {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}

	@include Helper.Keyframe(NavSidebar.$submenu-icon-animation-name) {
		0% {
			transform: rotate(0);
			transform-origin: center center;
		}
		100% {
			transform: rotate(90deg);
			transform-origin: center center;
		}
	}
}




@mixin Variables-AMP() {
	@include NavSidebar.Variables();
}




@mixin Variables() {
	@include NavSidebar.Variables();
}




@mixin AMP() {
	@include _common();

	.nav-sidebar {
		ul,
		ol {
			#{List.$Style-Type}: none;
			#{List.$Style-Type}: none;
		}

		.nav-sidebar-icon {
			background: #{var(NavSidebar.$Background)};

			width: #{var(NavSidebar.$Trigger-Dimension)};
			height: #{var(NavSidebar.$Trigger-Dimension)};
			line-height: #{var(NavSidebar.$Trigger-Dimension)};

			margin: 0;
			padding: 0;

			text-align: center;
			margin: auto;

			color: #{var(NavSidebar.$Trigger-Color)};

			border: 0;
			border-radius: #{var(NavSidebar.$Trigger-Border-Radius)};

			& * {
				font-size: #{var(NavSidebar.$Trigger-Font-Size)};
				margin: 0;
				padding: 0;
			}
		}

		.nav-sidebar-menu {
			position: fixed;
			top: #{var(NavSidebar.$Trigger-Position-Top)};
			left: 0;

			z-index: #{var(NavSidebar.$Trigger-Z-Index)};
		}

		.nav-sidebar-close {
			background: #{var(NavSidebar.$Trigger-Color)};
			color: #{var(NavSidebar.$Background)};

			z-index: #{var(NavSidebar.$Trigger-Z-Index)};
		}

		.nav-sidebar-list {
			padding: 0;
			margin: 0;

			display: flex;
			flex-flow: column nowrap;
			justify-content: #{var(NavSidebar.$Justify-Content)};
		}

		input.nav-sidebar-submenu {
			display: none;
		}

		// standard styling API
		.nav-sidebar-link,
		.nav-sidebar-submenu {
			line-height: #{var(NavSidebar.$Link-Line-Height)};
			padding: #{var(NavSidebar.$Link-Padding)};
			background: #{var(NavSidebar.$Link-Background)};
			text-transform: #{var(NavSidebar.$Link-Text-Transform)};

			border-top: #{var(NavSidebar.$Link-Separator-Border)};
			border-left: #{var(NavSidebar.$Link-Border-Left)};
			border-right: #{var(NavSidebar.$Link-Border-Right)};

			&:last-child {
				border-bottom: #{var(NavSidebar.$Link-Separator-Border)};
			}

			& > label,
			a {
				border: 0;
				vertical-align: #{var(NavSidebar.$Link-Vertical-Align)};

				display: flex;
				justify-content: #{var(NavSidebar.$Link-Justify-Content)};
				align-items: #{var(NavSidebar.$Link-Align-Items)};

				color: #{var(NavSidebar.$Link-Color)};

				@include Helper.Transition(#{var(NavSidebar.$Link-Transition)});

				span.pre,
				pre {
					width: fit-content;
					border: 0;
					background: #{var(NavSidebar.$Link-Pre-Background)};
					padding: #{var(NavSidebar.$Link-Pre-Padding)};
					margin: #{var(NavSidebar.$Link-Pre-Margin)};
				}
			}
		}

		.nav-sidebar-link {
			&.active {
				a {
					color: #{var(NavSidebar.$Link-Active-Color)};
				}
			}

			&:focus {
				a {
					color: #{var(NavSidebar.$Link-Focus-Color)};
				}
			}

			&:hover {
				a {
					color: #{var(NavSidebar.$Link-Hover-Color)};
				}
			}
		}

		.nav-sidebar-title {
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;

			line-height: #{var(NavSidebar.$Title-Line-Height)};
			color: #{var(NavSidebar.$Title-Color)};
			font-size: #{var(NavSidebar.$Title-Font-Size)};
			text-align: #{var(NavSidebar.$Title-Text-Align)};
			text-transform: #{var(NavSidebar.$Title-Text-Transform)};
			font-weight: #{var(NavSidebar.$Title-Font-Weight)};

			.nav-sidebar-logo {
				max-width: 100%;
				margin: #{var(NavSidebar.$Logo-Margin)};
			}
		}

		.nav-sidebar-submenu {
			padding: #{var(NavSidebar.$Submenu-Padding)};

			& > input[type='checkbox'] {
				display: none;
			}

			.nav-sidebar-submenu-icon ~ * {
				padding-left: #{var(NavSidebar.$Link-Pre-Spacing)};
			}

			& > ul,
			& > ol {
				margin: #{var(NavSidebar.$Submenu-Margin)};

				display: none;
				animation: #{var(NavSidebar.$Submenu-Animation)};
			}

			& > input[type='checkbox']:checked {
				& ~ label .nav-sidebar-submenu-icon {
					animation: #{var(NavSidebar.$Submenu-Icon-Animation)};
				}

				& ~ ul,
				& ~ ol {
					display: block;
				}
			}
		}

		// Right Side
		&.right-side {
			.nav-sidebar-menu {
				right: 0;
				left: initial;
			}

			.nav-sidebar-menu,
			.nav-sidebar-close {
				#{NavSidebar.$Trigger-Border-Radius}:
					#{meta.inspect(NavSidebar.$trigger-border-radius-right-side-value)};
			}

			.nav-sidebar-close {
				position: fixed;
				right: 0;
			}

			.nav-sidebar-link,
			.nav-sidebar-submenu {
				border-left: #{var(NavSidebar.$Link-Border-Right)};
				border-right: #{var(NavSidebar.$Link-Border-Left)};
			}
		}
	}

	amp-sidebar {
		background: #{var(NavSidebar.$Background)};
		width: #{var(NavSidebar.$Width)};
		padding: #{var(NavSidebar.$Padding)};
	}

	.amp-sidebar-mask {
		background: #{var(NavSidebar.$Shade-Background)};
	}
}




@mixin Critical() {
	@include _common();

	nav.nav-sidebar {
		grid-area: #{var(NavSidebar.$Grid-Area)};
		z-index: #{var(NavSidebar.$Z-Index)};

		width: 100%;
		max-width: 100%;

		ul,
		ol {
			#{List.$Style-Type}: none;
			#{List.$Style-Type}: none;
		}

		// hide functional checkboxes
		.nav-sidebar-submenu > input[type='checkbox'],
		input.nav-sidebar-trigger {
			display: none;
		}

		// set nav-sidebar contents initial positions
		label.nav-sidebar-shade,
		.nav-sidebar-list {
			position: fixed;
			top: 0;
			left: 0;

			width: 0;
			height: #{var(NavSidebar.$Height)};
			max-height: 100vh;

			@include Helper.Transition(#{var(NavSidebar.$Transition)});
		}

		// style nav-sidebar trigger
		.nav-sidebar-trigger {
			position: fixed;
			top: #{var(NavSidebar.$Trigger-Position-Top)};
			left: 0;

			background: #{var(NavSidebar.$Background)};

			width: #{var(NavSidebar.$Trigger-Dimension)};
			height: #{var(NavSidebar.$Trigger-Dimension)};
			line-height: #{var(NavSidebar.$Trigger-Dimension)};

			z-index: #{var(NavSidebar.$Trigger-Z-Index)};

			border-radius: #{var(NavSidebar.$Trigger-Border-Radius)};

			@include Helper.Transition(#{var(NavSidebar.$Transition)});
		}

		.nav-sidebar-icon {
			position: absolute;
			top: 0;
			left: 0;

			font-weight: #{var(NavSidebar.$Trigger-Font-Weight)};
			text-align: center;
			margin: auto;

			width: 100%;
			height: 100%;

			color: #{var(NavSidebar.$Trigger-Color)};

			@include Helper.Transition(#{var(NavSidebar.$Transition)});

			& * {
				font-size: #{var(NavSidebar.$Trigger-Font-Size)};
				margin: 0;
				padding: 0;
			}
		}

		.nav-sidebar-menu {
			opacity: 1;
		}

		.nav-sidebar-close {
			opacity: 0;
		}

		// style nav-sidebar masking shade
		label.nav-sidebar-shade {
			z-index: #{var(NavSidebar.$Shade-Z-Index)};

			background: #{var(NavSidebar.$Shade-Background)};
		}

		// style nav-sidebar contents
		.nav-sidebar-list {
			background: #{var(NavSidebar.$Background)};

			padding: #{var(NavSidebar.$Trigger-Dimension)} 0 0;
			margin: 0;

			overflow-y: auto;

			z-index: #{var(NavSidebar.$Z-Index)};

			display: flex;
			flex-flow: column nowrap;
			justify-content: #{var(NavSidebar.$Justify-Content)};
		}

		// when nav-sidebar is activated
		input[type='checkbox'].nav-sidebar-trigger:checked {
			& ~ .nav-sidebar-trigger {
				top: 0;
				border-radius: 0 0 50% 0;
				background: #{var(NavSidebar.$Trigger-Color)};

				.nav-sidebar-icon {
					@include Helper.Transform(#{var(NavSidebar.$Trigger-Transform)});
					color: #{var(NavSidebar.$Background)};
				}

				.nav-sidebar-menu {
					opacity: 0;
				}

				.nav-sidebar-close {
					opacity: 1;
				}
			}

			& ~ .nav-sidebar-list {
				padding: #{var(NavSidebar.$Padding)};
				width: #{var(NavSidebar.$Width)};
			}

			& ~ .nav-sidebar-shade {
				width: 100%;
			}
		}

		// standard styling API
		.nav-sidebar-link,
		.nav-sidebar-submenu {
			line-height: #{var(NavSidebar.$Link-Line-Height)};
			background: #{var(NavSidebar.$Link-Background)};
			text-transform: #{var(NavSidebar.$Link-Text-Transform)};

			border-top: #{var(NavSidebar.$Link-Separator-Border)};
			border-left: #{var(NavSidebar.$Link-Border-Left)};
			border-right: #{var(NavSidebar.$Link-Border-Right)};

			&:last-child {
				border-bottom: #{var(NavSidebar.$Link-Separator-Border)};
			}

			& > label,
			a {
				border: 0;
				vertical-align: #{var(NavSidebar.$Link-Vertical-Align)};

				display: flex;
				justify-content: #{var(NavSidebar.$Link-Justify-Content)};
				align-items: #{var(NavSidebar.$Link-Align-Items)};
				text-align: #{var(NavSidebar.$Link-Text-Align)};

				color: #{var(NavSidebar.$Link-Color)};

				@include Helper.Transition(#{var(NavSidebar.$Link-Transition)});

				span.pre,
				pre {
					width: fit-content;
					min-width: #{var(NavSidebar.$Link-Pre-Min-Width)};
					border: 0;
					background: #{var(NavSidebar.$Link-Pre-Background)};
					padding: #{var(NavSidebar.$Link-Pre-Padding)};
					margin: #{var(NavSidebar.$Link-Pre-Margin)};
				}
			}
		}

		.nav-sidebar-link {
			padding: #{var(NavSidebar.$Link-Padding)};

			&.active {
				background: #{var(NavSidebar.$Link-Active-Background)};

				a {
					color: #{var(NavSidebar.$Link-Active-Color)};
				}
			}

			&:focus {
				background: #{var(NavSidebar.$Link-Focus-Background)};

				a {
					color: #{var(NavSidebar.$Link-Focus-Color)};
				}
			}

			&:hover {
				background: #{var(NavSidebar.$Link-Hover-Background)};

				a {
					color: #{var(NavSidebar.$Link-Hover-Color)};
				}
			}
		}

		.nav-sidebar-submenu {
			padding: #{var(NavSidebar.$Submenu-Padding)};

			.nav-sidebar-submenu-icon ~ * {
				padding-left: #{var(NavSidebar.$Link-Pre-Spacing)};
			}

			& > ul,
			& > ol {
				margin: #{var(NavSidebar.$Submenu-Margin)};

				display: none;
				animation: #{var(NavSidebar.$Submenu-Animation)};
			}

			& > input[type='checkbox']:checked {
				& ~ label .nav-sidebar-submenu-icon {
					animation: #{var(NavSidebar.$Submenu-Icon-Animation)};
				}

				& ~ ul,
				& ~ ol {
					display: block;
				}
			}
		}

		.nav-sidebar-title {
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;

			line-height: #{var(NavSidebar.$Title-Line-Height)};
			color: #{var(NavSidebar.$Title-Color)};
			font-size: #{var(NavSidebar.$Title-Font-Size)};
			text-align: #{var(NavSidebar.$Title-Text-Align)};
			text-transform: #{var(NavSidebar.$Title-Text-Transform)};
			font-weight: #{var(NavSidebar.$Title-Font-Weight)};

			.nav-sidebar-logo {
				max-width: 100%;
				margin: #{var(NavSidebar.$Logo-Margin)};
			}
		}


		// Right Side
		&.right-side {
			#{NavSidebar.$Grid-Area}:
				#{meta.inspect(NavSidebar.$right-side-grid-area-value)};

			label.nav-sidebar-shade,
			label.nav-sidebar-trigger,
			.nav-sidebar-list {
				right: 0;
				left: initial;
			}

			.nav-sidebar-trigger {
				#{NavSidebar.$Trigger-Border-Radius}:
					#{meta.inspect(NavSidebar.$trigger-border-radius-right-side-value)};
			}

			input[type='checkbox'].nav-sidebar-trigger:checked {
				& ~ .nav-sidebar-trigger {
					top: 0;
					border-radius: 0 0 0 50%;
				}
			}

			.nav-sidebar-link,
			.nav-sidebar-submenu {
				border-left: #{var(NavSidebar.$Link-Border-Right)};
				border-right: #{var(NavSidebar.$Link-Border-Left)};
			}
		}
	}
}




@mixin Tablet() {
	.nav-sidebar {
		#{NavSidebar.$Width}: #{var(NavSidebar.$Width-Tablet)};

		&:not(.drawer) {
			background: #{var(NavSidebar.$Background)};

			input[type='checkbox'].nav-sidebar-trigger:checked ~ .nav-sidebar-list,
			.nav-sidebar-list {
				background: transparent;

				padding: #{var(NavSidebar.$Padding)};
				width: #{var(NavSidebar.$Width)};
				height: fit-content;
				max-height: 100%;
			}

			input[type='checkbox'].nav-sidebar-trigger:checked ~ .nav-sidebar-shade,
			input[type='checkbox'].nav-sidebar-trigger:checked ~ .nav-sidebar-trigger,
			.nav-sidebar-shade,
			.nav-sidebar-trigger {
				display: none;
			}

		}
	}
}




@mixin Desktop() {
	.nav-sidebar {
		#{NavSidebar.$Width}: #{var(NavSidebar.$Width-Desktop)};
	}
}




@mixin Widescreen() {
	.nav-sidebar {
		#{NavSidebar.$Width}: #{var(NavSidebar.$Width-Widescreen)};
	}
}




@mixin Print() {
	.nav-sidebar {
		display: #{var(NavSidebar.$Print-Display)};
	}
}
