// Copyright 2021 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2021 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";
@use "../root/Timing";
@use "../root/Layout";



// Variables
$Width: --nav-sidebar-width;
$Width-Tablet: --nav-sidebar-width-tablet;
$Width-Desktop: --nav-sidebar-width-desktop;
$Width-Widescreen: --nav-sidebar-width-widescreen;
$Height: --nav-sidebar-height;
$Z-Index: --nav-sidebar-z-index;
$Background: --nav-sidebar-background;
$Padding: --nav-sidebar-padding;
$Justify-Content: --nav-sidebar-justify-content;
$Grid-Area: --nav-sidebar-grid-area;
$Transition: --nav-sidebar-transition;

$Trigger-Color: --nav-sidebar-trigger-color;
$Trigger-Font-Size: --nav-sidebar-trigger-font-size;
$Trigger-Font-Weight: --nav-sidebar-trigger-font-weight;
$Trigger-Position-Top: --nav-sidebar-trigger-position-top;
$Trigger-Dimension: --nav-sidebar-trigger-dimension;
$Trigger-Transform: --nav-sidebar-trigger-transform;
$Trigger-Z-Index: --nav-sidebar-trigger-z-index;
$Trigger-Border-Radius: --nav-sidebar-trigger-border-radius;

$Shade-Background: --nav-sidebar-shade-background;
$Shade-Z-Index: --nav-sidebar-shade-z-index;

$Title-Color: --nav-sidebar-title-color;
$Title-Font-Size: --nav-sidebar-title-font-size;
$Title-Text-Align: --nav-sidebar-title-text-align;
$Title-Text-Transform: --nav-sidebar-title-text-transform;
$Title-Font-Weight: --nav-sidebar-title-font-weight;
$Title-Line-Height: --nav-sidebar-title-line-height;

$Logo-Margin: --nav-sidebar-logo-margin;

$Link-Line-Height: --nav-sidebar-link-line-height;
$Link-Padding: --nav-sidebar-link-padding;
$Link-Background: --nav-sidebar-link-background;
$Link-Justify-Content: --nav-sidebar-link-justify-content;
$Link-Align-Items: --nav-sidebar-link-align-items;
$Link-Color: --nav-sidebar-link-color;
$Link-Text-Transform: --nav-sidebar-link-text-transform;
$Link-Vertical-Align: --nav-sidebar-link-vertical-align;
$Link-Pre-Spacing: --nav-sidebar-link-pre-spacing;
$Link-Pre-Padding: --nav-sidebar-link-pre-padding;
$Link-Pre-Margin: --nav-sidebar-link-pre-margin;
$Link-Pre-Min-Width: --nav-sidebar-link-pre-min-width;
$Link-Pre-Background: --nav-sidebar-link-pre-background;
$Link-Active-Color: --nav-sidebar-link-active-color;
$Link-Focus-Color: --nav-sidebar-link-focus-color;
$Link-Hover-Color: --nav-sidebar-link-hover-color;
$Link-Active-Background: --nav-sidebar-link-active-background;
$Link-Focus-Background: --nav-sidebar-link-focus-background;
$Link-Hover-Background: --nav-sidebar-link-hover-background;
$Link-Transition: --nav-sidebar-link-transition;
$Link-Separator-Border: --nav-sidebar-link-separator-border;
$Link-Border-Left: --nav-sidebar-link-border-left;
$Link-Border-Right: --nav-sidebar-link-border-right;
$Link-Text-Align: --nav-sidebar-link-text-align;

$Submenu-Margin: --nav-sidebar-submenu-margin;
$Submenu-Padding: --nav-sidebar-submenu-padding;
$Submenu-Animation: --nav-sidebar-submenu-animation;
$Submenu-Icon-Animation: --nav-sidebar-submenu-icon-animation;

$Print-Display: --nav-sidebar-print-display;



// Values
$_grid-area-value: Layout.$Grid-Label-Sidebar;
$right-side-grid-area-value: Layout.$Grid-Label-RSidebar;
$_width-value: 75%;
$_width-tablet-value: #{var(Layout.$Sidebar-Width)};
$_width-desktop-value: #{var(Layout.$Sidebar-Width)};
$_width-widescreen-value: #{var(Layout.$Sidebar-Width)};
$_height-value: 100vh;
$_z-index-value: #{var(Layout.$Z-Index-Nav)};
$_background-value: rgba(0,0,0,.9);
$_padding-value: 0;
$_justify-content-value: flex-start;
$_transition-value: #{var(Timing.$Fast)};

$_trigger-color-value: #{var(Color.$Grey-50)};
$_trigger-font-size-value: x-large;
$_trigger-font-weight-value: bold;
$_trigger-position-top-value: 0;
$_trigger-dimension-value: 5rem;
$_trigger-transform-value: rotate(360deg);
$_trigger-z-index-value: #{var(Layout.$Z-Index-Nav-Topping)};
$_trigger-border-radius-value: 0 0 50% 0;
$trigger-border-radius-right-side-value: 0 0 0 50%;

$_shade-background-value: rgba(255,255,255,.8);
$_shade-z-index-value: #{var(Layout.$Z-Index-Nav-Overlay)};

$_title-color-value: #{var(Color.$Grey-50)};
$_title-font-size-value: xx-large;
$_title-text-align-value: center;
$_title-text-transform-value: uppercase;
$_title-font-weight-value: 300;
$_title-line-height-value: auto;

$_logo-margin-value: 3rem auto 0 auto;

$_link-line-height-value: 3.5rem;
$_link-padding-value: .8rem;
$_link-background-value: transparent;
$_link-justify-content-value: flex-start;
$_link-align-items-value: center;
$_link-color-value: #{var(Color.$Grey-50)};
$_link-text-transform-value: capitalize;
$_link-vertical-align-value: middle;
$link-pre-spacing-value: 1rem;
$_link-pre-margin-value: 0;
$_link-pre-min-width-value: 25px;
$_link-pre-background-value: transparent;
$_link-active-color-value: #{var(Color.$Contrast-700)};
$_link-focus-color-value: #{var(Color.$Contrast-500)};
$_link-hover-color-value: #{var(Color.$Contrast-500)};
$_link-active-background-value: rgba(0,0,0,.35);
$_link-focus-background-value: rgba(0,0,0,.75);
$_link-hover-background-value: rgba(0,0,0,.75);
$_link-transition-value: #{var(Timing.$Fast)};
$_link-separator-border-value: 1px solid #{var(Color.$Grey-700)};
$_link-border-left-value: none;
$_link-border-right-value: 4px solid #{var(Color.$Primary-300)};
$_link-text-align-value: left;


$submenu-animation-name: nav-sidebar-submenu;
$submenu-icon-animation-name: nav-sidebar-submenu-icon;
$_submenu-margin-value: 1rem 0 1rem 1rem;
$_submenu-padding-value: .8rem 0 .8rem .8rem;
$_submenu-animation-value: $submenu-animation-name #{var(Timing.$Rapid)} both;
$_submenu-icon-animation-value: $submenu-icon-animation-name #{var(Timing.$Rapid)} both;


$_print-display-value: none;




@mixin Variables() {
	#{$Width}: #{meta.inspect($_width_value)};
	#{$Width-Tablet}: #{meta.inspect($_width-tablet-value)};
	#{$Width-Desktop}: #{meta.inspect($_width-desktop-value)};
	#{$Width-Widescreen}: #{meta.inspect($_width-widescreen-value)};
	#{$Height}: #{meta.inspect($_height-value)};
	#{$Z-Index}: #{meta.inspect($_z-index-value)};
	#{$Background}: #{meta.inspect($_background-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};
	#{$Justify-Content}: #{meta.inspect($_justify-content-value)};
	#{$Grid-Area}: #{meta.inspect($_grid-area-value)};
	#{$Transition}: #{meta.inspect($_transition-value)};


	#{$Trigger-Color}: #{meta.inspect($_trigger-color-value)};
	#{$Trigger-Font-Size}: #{meta.inspect($_trigger-font-size-value)};
	#{$Trigger-Font-Weight}: #{meta.inspect($_trigger-font-weight-value)};
	#{$Trigger-Position-Top}: #{meta.inspect($_trigger-position-top-value)};
	#{$Trigger-Dimension}: #{meta.inspect($_trigger-dimension-value)};
	#{$Trigger-Transform}: #{meta.inspect($_trigger-transform-value)};
	#{$Trigger-Z-Index}: #{meta.inspect($_trigger-z-index-value)};
	#{$Trigger-Border-Radius}: #{meta.inspect($_trigger-border-radius-value)};


	#{$Shade-Background}: #{meta.inspect($_shade-background-value)};
	#{$Shade-Z-Index}: #{meta.inspect($_shade-z-index-value)};


	#{$Title-Color}: #{meta.inspect($_title-color-value)};
	#{$Title-Font-Size}: #{meta.inspect($_title-font-size-value)};
	#{$Title-Text-Align}: #{meta.inspect($_title-text-align-value)};
	#{$Title-Text-Transform}: #{meta.inspect($_title-text-transform-value)};
	#{$Title-Font-Weight}: #{meta.inspect($_title-font-weight-value)};
	#{$Title-Line-Height}: #{meta.inspect($_title-line-height-value)};


	#{$Logo-Margin}: #{meta.inspect($_logo-margin-value)};


	#{$Link-Line-Height}: #{meta.inspect($_link-line-height-value)};
	#{$Link-Padding}: #{meta.inspect($_link-padding-value)};
	#{$Link-Background}: #{meta.inspect($_link-background-value)};
	#{$Link-Justify-Content}: #{meta.inspect($_link-justify-content-value)};
	#{$Link-Align-Items}: #{meta.inspect($_link-align-items-value)};
	#{$Link-Color}: #{meta.inspect($_link-color-value)};
	#{$Link-Text-Transform}: #{meta.inspect($_link-text-transform-value)};
	#{$Link-Vertical-Align}: #{meta.inspect($_link-vertical-align-value)};
	#{$Link-Pre-Spacing}: #{meta.inspect($link-pre-spacing-value)};
	#{$Link-Pre-Padding}: 0 #{var($Link-Pre-Spacing)} 0 0;
	#{$Link-Pre-Margin}: #{meta.inspect($_link-pre-margin-value)};
	#{$Link-Pre-Min-Width}: #{meta.inspect($_link-pre-min-width-value)};
	#{$Link-Pre-Background}: #{meta.inspect($_link-pre-background-value)};
	#{$Link-Active-Color}: #{meta.inspect($_link-active-color-value)};
	#{$Link-Focus-Color}: #{meta.inspect($_link-focus-color-value)};
	#{$Link-Hover-Color}: #{meta.inspect($_link-hover-color-value)};
	#{$Link-Transition}: #{meta.inspect($_link-transition-value)};
	#{$Link-Active-Background}: #{meta.inspect($_link-active-background-value)};
	#{$Link-Focus-Background}: #{meta.inspect($_link-focus-background-value)};
	#{$Link-Hover-Background}: #{meta.inspect($_link-hover-background-value)};
	#{$Link-Separator-Border}: #{meta.inspect($_link-separator-border-value)};
	#{$Link-Border-Right}: #{meta.inspect($_link-border-right-value)};
	#{$Link-Border-Left}: #{meta.inspect($_link-border-left-value)};
	#{$Link-Text-Align}: #{meta.inspect($_link-text-align-value)};


	#{$Submenu-Margin}: #{meta.inspect($_submenu-margin-value)};
	#{$Submenu-Padding}: #{meta.inspect($_submenu-padding-value)};
	#{$Submenu-Animation}: #{meta.inspect($_submenu-animation-value)};
	#{$Submenu-Icon-Animation}: #{meta.inspect($_submenu-icon-animation-value)};


	#{$Print-Display}: #{meta.inspect($_print-display-value)};
}
