// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Table";




@mixin _common() {
	table {
		display: var(#{Table.$Display});
		overflow: var(#{Table.$Overflow});
		white-space: var(#{Table.$White-Space});
		border-collapse: var(#{Table.$Border-Collapse});
		max-width: var(#{Table.$Max-Width});;
		margin: var(#{Table.$Margin});
		padding: var(#{Table.$Padding});

		thead {
			background-color: var(#{Table.$Thead-Background});
			color: var(#{Table.$Thead-Color});
		}

		tr {
			border-bottom: var(#{Table.$Tr-Border-Bottom});
		}

		th,
		td {
			vertical-align: var(#{Table.$Cell-Vertical-Align});
			padding: var(#{Table.$Cell-Padding});
		}
	}
}




@mixin Variables-AMP() {
	@include Table.Variables();
}




@mixin Variables() {
	@include Table.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	table {
		break-inside: avoid;
		word-break: break-word;
	}
}
