// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";




// Variables
$Display: --table-display;
$Overflow: --table-overflow;
$White-Space: --table-white-space;
$Border-Collapse: --table-border-collapse;
$Max-Width: --table-max-width;
$Margin: --table-margin;
$Padding: --table-padding;

$Thead-Background: --thead-background;
$Thead-Color: --thead-color;

$Tr-Border-Bottom: --tr-border-bottom;

$Cell-Vertical-Align: --table-cell-vertical-align;
$Cell-Padding: --table-cell-padding;




// Values
$_display-value: block;
$_overflow-value: auto;
$_white-space-value: nowrap;
$_border-collapse-value: collapse;
$_max-width-value: 100%;
$_margin-value: 0 auto 2.5rem;
$_padding-value: 0;

$_thead-background-value: var(#{Color.$Primary-300});
$_thead-color-value: var(#{Color.$Primary-500});

$_tr-border-bottom-value: .1rem solid var(#{Color.$Primary-500});

$_cell-vertical-align-value: middle;
$_cell-padding-value: 1rem;




@mixin Variables() {
	#{$Display}: #{meta.inspect($_display-value)};
	#{$Overflow}: #{meta.inspect($_overflow-value)};
	#{$White-Space}: #{meta.inspect($_white-space-value)};
	#{$Border-Collapse}: #{meta.inspect($_border-collapse-value)};
	#{$Max-Width}: #{meta.inspect($_max-width-value)};
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};

	#{$Thead-Background}: #{meta.inspect($_thead-background-value)};
	#{$Thead-Color}: #{meta.inspect($_thead-color-value)};

	#{$Tr-Border-Bottom}: #{meta.inspect($_tr-border-bottom-value)};

	#{$Cell-Vertical-Align}: #{meta.inspect($_cell-vertical-align-value)};
	#{$Cell-Padding}: #{meta.inspect($_cell-padding-value)};
}
