{{- /* .               - Page data for processing     */ -}}
{{- /* .OutputFormat   - selected output format       */ -}}
{{- /* .MediaTypes     - All output format data list  */ -}}




{{- /* prepare dependencies */ -}}
{{- $dl := dict "context" . "OutputFormat" .Page.OutputFormat -}}
{{- $dl = merge $dl (dict "MediaTypes" .Page.MediaTypes) -}}
{{- $dataList := $dl -}}




{{- /* get configuration data from data file */ -}}
{{- $data := dict -}}
{{- if .Page.Site.Data.bissetii.nav.Catalog -}}
	{{- $data = .Page.Site.Data.bissetii.nav.Catalog -}}
{{- end -}}
{{- if not $data -}}
	{{- errorf "%s: Bad data.bissetii.nav.catalog data file" .Page.Link.URL -}}
{{- end -}}




{{- /* prepare .Class */ -}}
{{- if $data.Class -}}
	{{- $dataList = merge $dataList ("Class" $data.Class) -}}
{{- end -}}




{{- /* prepare .ID */ -}}
{{- if $data.ID -}}
	{{- $dataList = merge $dataList ("ID" $data.ID) -}}
{{- end -}}




{{- /* prepare .Style */ -}}
{{- if $data.Style -}}
	{{- $dataList = merge $dataList ("Style" $data.Style) -}}
{{- end -}}




{{- /* prepare .Cards */ -}}
{{- $cards := slice -}}
{{- $cData := $dl -}}
{{- if $data -}}
	{{- if $data.Card.Type -}}
		{{- $cData = merge $cData (dict "Type" $data.Card.Type) -}}
	{{- else -}}
		{{- errorf "bad data.bissetii.nav.Catalog.Card.Type" -}}
	{{- end -}}


	{{- if $data.Card.Class -}}
		{{- $cData = merge $cData (dict "Class" $data.Card.Class) -}}
	{{- end -}}


	{{- if $data.Card.Style -}}
		{{- $cData = merge $cData (dict "Style" $data.Card.Style) -}}
	{{- end -}}


	{{- if $data.Card.Width -}}
		{{- $cData = merge $cData (dict "Width" $data.Card.Width) -}}
	{{- end -}}


	{{- if $data.Card.Height -}}
		{{- $cData = merge $cData (dict "Height" $data.Card.Height) -}}
	{{- end -}}
{{- end -}}


{{- $header := dict "Data" $data.Card.Header "Type" "int" -}}
{{- $header = partial "functions/isType.html" $header -}}
{{- if not $header -}}
	{{- errorf "%s: bad data.bissetii.nav.Catalog.Card.Header level number."
		.Page.Link.URL -}}
	{{- $header = "" -}}
{{- else -}}
	{{- $header = strings.Repeat $data.Card.Header "#" -}}
{{- end -}}


{{- $ctaContent := "" -}}
{{- if $data.Card.CTA.Content -}}
	{{- $ctaContent = index $data.Card.CTA.Content .Page.Language.Code -}}
{{- end -}}
{{- if not $ctaContent -}}
	{{- errorf "%s: missing CTA display content" .Page.Link.URL -}}
	{{- $ctaContent = "Learn More" -}}
{{- end -}}


{{- $ctaClass := "" -}}
{{- if $data.Card.CTA.Class -}}
	{{- $ctaClass = $data.Card.CTA.Class -}}
{{- end -}}


{{- $thumbnailHeight := "" -}}
{{- if $data.Card.Thumbnail.Height -}}
	{{- $thumbnailHeight = $data.Card.Thumbnail.Height -}}
{{- end -}}
{{- if not $thumbnailHeight -}}
	{{- errorf "%s: bad .data.catalog.card.thumbnail.height" .Page.Link.URL -}}
{{- end -}}


{{- range $page := .Page.Children -}}
	{{- $card := $cData -}}


	{{- /* process content */ -}}
	{{- $value := printf "%s %s\n" $header $page.Title -}}
	{{- $value = printf "%s%s\n\n" $value $page.Date.Modified -}}
	{{- $value = printf "%s%s\n" $value $page.Description -}}
	{{- $card = merge $card (dict "Content" $value) -}}


	{{- /* process card ID attribute */ -}}
	{{- $value := replace $page.Title " " "-" -}}
	{{- $value = replace $value "_" "-" -}}
	{{- $value = lower $value -}}
	{{- $value = printf "nav-catalog-%s" $value -}}
	{{- $card = merge $card (dict "ID" $value) -}}


	{{- /* process cta */ -}}
	{{- $value := $dl -}}
	{{- $value = merge $value (dict "GivenURL" $page.Link.URL) -}}
	{{- $value = merge $value (dict "GivenLang" $page.Language.Code) -}}
	{{- $value = partial "shortcodes/link.html" $value -}}
	{{- $value = printf "href='%s'" $value -}}
	{{- if $ctaClass -}}
		{{- $value = printf "<a class='%s' %s>" $ctaClass $value -}}
	{{- else -}}
		{{- $value = printf "<a %s>" $value -}}
	{{- end -}}

	{{- $value = printf "%s%s</a>" $value $ctaContent -}}
	{{- $value = printf "<ul class='default'><li>%s</li></ul>" $value -}}
	{{- $card = merge $card (dict "CTA" $value) -}}


	{{- /* process thumbnail */ -}}
	{{- $value := $dl -}}
	{{- $image := dict "Width" "0" "Height" "0" -}}
	{{- $imgData := dict "Width" $card.Width "Height" $thumbnailHeight -}}
	{{- $imgData = dict "Wanted" $imgData -}}
	{{- range $img := $page.Thumbnails -}}
		{{- if eq $data.Card.Thumbnail.Detection "auto" -}}
			{{- $x := $imgData -}}

			{{- $ix := dict "Width" $img.Width "Height" $img.Height -}}
			{{- $x = merge $x (dict "Given" $ix) -}}

			{{- $ix := dict "Width" $image.Width "Height" $image.Height -}}
			{{- $x = merge $x (dict "Current" $ix) -}}

			{{- $x = partial "functions/betterImage.html" $x -}}
			{{- if or (eq $x "0") (eq $x "2") -}}
				{{- $image = $img -}}
			{{- end -}}
		{{- else if eq $data.Card.Thumbnail.Detection "first" -}}
			{{- if not $image.URL -}}
				{{- $image = $img -}}
			{{- end -}}
		{{- else -}}
			{{- $image = $img -}}
		{{- end -}}
	{{- end -}}

	{{- if $image.URL -}}
		{{- $value = merge $value (dict "URL" $image.URL) -}}
		{{- $value = merge $value (dict "AltText" $image.AltText) -}}
		{{- $value = merge $value (dict "Width" $card.Width) -}}
		{{- $value = merge $value (dict "Height" $thumbnailHeight) -}}
	{{- end -}}

	{{- if $value.URL -}}
		{{- $value = partial "shortcodes/image.html" $value -}}
		{{- $card = merge $card (dict "Thumbnail" $value) -}}
	{{- end -}}


	{{- /* merge to cards deck */ -}}
	{{- $cards = append $card $cards -}}
{{- end -}}
{{- $dataList = merge $dataList (dict "Cards" $cards) -}}




{{- /* render the shortcode */ -}}
{{- partial "shortcodes/nav-catalog.html" $dataList -}}
