{{- /* .context              = Page data for processing                */ -}}
{{- /* .OutputFormat         = Selected output format                  */ -}}
{{- /* .Path                 = Card data file Hugo pathing             */ -}}




{{- /* search data file */ -}}
{{- $ret := index .context.Params 0 -}}
{{- if .Path -}}
	{{- $ret = .Path -}}
{{- end -}}

{{- $data := .context.Site.Data -}}
{{- range $v := split $ret "." -}}
	{{- if $data -}}
		{{- $data = index $data $v -}}
	{{- end -}}
{{- end -}}
{{- if or (eq $data .context.Site.Data) (not $data) -}}
	{{- errorf "Bad/Missing Card Data Path: %s" .Path -}}
{{- end -}}




{{- /* prepare dependencies */ -}}
{{- $dl := dict "MediaTypes" .context.Site.Data.bissetii.mediaTypes -}}
{{- $dl := merge $dl (dict "context" .context "OutputFormat" .OutputFormat)  -}}
{{- $dataList := $dl -}}




{{- /* process .Type */ -}}
{{- $ret := "" -}}
{{- if $data.Type -}}
	{{- $ret = $data.Type -}}
{{- end -}}
{{- $dataList = merge $dataList (dict "Type" $ret) -}}




{{- /* process .Class */ -}}
{{- $ret := "" -}}
{{- if $data.Class -}}
	{{- $ret = $data.Class -}}
{{- end -}}
{{- $dataList = merge $dataList (dict "Class" $ret) -}}




{{- /* process .Style */ -}}
{{- $ret := "" -}}
{{- if $data.Style -}}
	{{- $ret = $data.Style -}}
{{- end -}}
{{- $dataList = merge $dataList (dict "Style" $ret) -}}




{{- /* process .ID */ -}}
{{- $ret := "" -}}
{{- if $data.ID -}}
	{{- $ret = $data.ID -}}
{{- end -}}
{{- $dataList = merge $dataList (dict "ID" $ret) -}}




{{- /* process .Width */ -}}
{{- $ret := "" -}}
{{- if $data.Width -}}
	{{- $ret = $data.Width -}}
{{- end -}}
{{- $dataList = merge $dataList (dict "Width" $ret) -}}




{{- /* process .Height */ -}}
{{- $ret := "" -}}
{{- if $data.Height -}}
	{{- $ret = $data.Height -}}
{{- end -}}
{{- $dataList = merge $dataList (dict "Height" $ret) -}}




{{- /* process .Content */ -}}
{{- $ret := "" -}}
{{- $i := dict "Data" $data.Content -}}
{{- if (partial "functions/isType.html" (merge $i (dict "Type" "map"))) -}}
	{{- if eq $dataList.OutputFormat $dataList.MediaTypes.AMP.Name -}}
		{{- $ret = $data.Content.AMPHTML -}}
	{{- else -}}
		{{- $ret = $data.Content.HTML -}}
	{{- end -}}
{{- else if (partial "functions/isType.html" (merge $i (dict "Type" "string"))) -}}
	{{- $ret = $data.Content -}}
{{- end -}}
{{- $dataList = merge $dataList (dict "Content" $ret) -}}




{{- /* process .Thumbnail */ -}}
{{- $ret := "" -}}
{{- if $data.Thumbnail.Image -}}
	{{- $ret = merge $dl $data.Thumbnail.Image -}}
	{{- $ret = partial "shortcodes/image.html" $ret -}}
{{- else if $data.Thumbnail.Picture -}}
	{{- $ret = merge $dl (dict "Sources" $data.Thumbnail.Picture) -}}
	{{- $ret = merge $ret (dict "Lang" .context.Page.Language.Lang) -}}
	{{- $ret = partial "shortcodes/image.html" $ret -}}
{{- end -}}


{{- /* If HTML codes were provided, overwrite it */ -}}
{{- if eq $dataList.OutputFormat $dataList.MediaTypes.AMP.Name -}}
	{{- if $data.Thumbnail.AMPHTML -}}
		{{- $ret = trim $data.Thumbnail.AMPHTML " " -}}
	{{- end -}}
{{- else -}}
	{{- if $data.Thumbnail.HTML -}}
		{{- $ret = trim $data.Thumbnail.HTML " " -}}
	{{- end -}}
{{- end -}}
{{- $dataList = merge $dataList (dict "Thumbnail" $ret) -}}




{{- /* process .CTA */ -}}
{{- $ret := "" -}}
{{- if $data.CTA.Links -}}
	{{- $l := merge $dl (dict "BaseURL" $dataList.context.Site.BaseURL) -}}
	{{- $l = merge $l (dict "CurrentURL" .context.Page.Permalink) -}}


	{{- $ret = printf "<ul class='default'>" -}}
	{{- range $i := $data.CTA.Links -}}
		{{- $link := merge $l (dict "GivenURL" $i.URL) -}}


		{{- if eq $dataList.OutputFormat $dataList.MediaTypes.AMP.Name -}}
			{{- $link = merge $link (dict "Content" $i.AMPHTML) -}}
		{{- else -}}
			{{- $link = merge $link (dict "Content" $i.HTML) -}}
		{{- end -}}


		{{- if $i.ID -}}
			{{- $link = merge $link (dict "ID" $i.ID) -}}
		{{- end -}}


		{{- if $i.Class -}}
			{{- $link = merge $link (dict "Class" $i.Class) -}}
		{{- end -}}


		{{- if $i.Rel -}}
			{{- $link = merge $link (dict "Rel" $i.Rel) -}}
		{{- end -}}


		{{- if $i.Download -}}
			{{- $link = merge $link (dict "Download" $i.Download) -}}
		{{- end -}}


		{{- if $i.Target -}}
			{{- $link = merge $link (dict "Target" $i.Target) -}}
		{{- end -}}


		{{- $link = partial "functions/link.html" $link -}}
		{{- $link = printf "<li>%s</li>" $link -}}
		{{- $ret = printf "%s%s" $ret $link -}}
	{{- end -}}
	{{- $ret = printf "%s</ul>" $ret -}}
{{- end -}}

{{- /* If HTML codes were provided, overwrite it */ -}}
{{- if eq $dataList.OutputFormat $dataList.MediaTypes.AMP.Name -}}
	{{- if $data.CTA.AMPHTML -}}
		{{- $ret = trim $data.CTA.AMPHTML " " -}}
	{{- end -}}
{{- else -}}
	{{- if $data.CTA.HTML -}}
		{{- $ret = trim $data.CTA.HTML " " -}}
	{{- end -}}
{{- end -}}
{{- $dataList = merge $dataList (dict "CTA" $ret) -}}




{{- /* render card partial */ -}}
{{- partial "shortcodes/card.html" $dataList -}}
