{{- /* .Page           = Page data                                   */ -}}




{{- /* 1) Prepare necessary dependencies */ -}}
{{- $dl := dict "context" .context "OutputFormat" .OutputFormat -}}
{{- $dataList := dict -}}




{{- /* 2) Prepare .Content */ -}}
{{- $content := printf "<span>%s</span>" .Page.Copyright -}}
{{- if .Page.Publishers -}}
	{{- $content = printf "%s<span>— %s</span>" $content .Page.Publishers -}}
{{- end -}}
{{- $content = printf "<p>%s</p>" $content -}}
{{- $content = safeHTML $content -}}
{{- $dataList = merge $dataList (dict "Content" $content) -}}




{{- /* 3) Render Footer */ -}}
{{- if eq .OutputFormat .MediaTypes.AMP.Name }}
	{{ partial "footer.amp.html" $dataList -}}
{{- else }}
	{{ partial "footer.html" $dataList -}}
{{- end }}
