// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";
@use "../root/Font";




// Variables
$Border-Radius: --code-border-radius;
$Padding: --code-padding;
$Letter-Spacing: --code-letter-spacing;
$Color: --code-color;
$Background: --code-background;
$Overflow-Wrap: --code-overflow-wrap;

$Pre-Display: --pre-display;
$Pre-Margin: --pre-margin;
$Pre-Overflow: --pre-overflow;
$Pre-Border-Left: --pre-border-left;
$Pre-Border-Radius: --pre-border-radius;
$Pre-Padding: --pre-padding;
$Pre-Max-Width: --pre-max-width;
$Pre-Letter-Spacing: --pre-letter-spacing;
$Pre-Color: --pre-color;
$Pre-Background: --pre-background;




// Values
$_border-radius-value: .4rem;
$_padding-value: .2rem .5rem;
$_letter-spacing-value: 0;
$_color-value: var(#{Color.$Primary-500});
$_background-value: var(#{Color.$Grey-100});
$_overflow-wrap-value: break-word;

$_pre-display-value: block;
$_pre-margin-value: 0 auto;
$_pre-overflow-value: auto auto;
$_pre-border-left-value: .3rem solid var(#{Color.$Primary-500});
$_pre-border-radius-value: .4rem;
$_pre-padding-value: 1.5rem;
$_pre-max-width-value: 100%;
$_pre-letter-spacing-value: 0;
$_pre-color-value: var(#{Color.$Grey-800});
$_pre-background-value: var(#{Color.$Grey-100});




@mixin Variables() {
	#{$Border-Radius}: #{meta.inspect($_border-radius-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};
	#{$Letter-Spacing}: #{meta.inspect($_letter-spacing-value)};
	#{$Color}: #{meta.inspect($_color-value)};
	#{$Background}: #{meta.inspect($_background-value)};
	#{$Overflow-Wrap}: #{meta.inspect($_overflow-wrap-value)};

	#{$Pre-Display}: #{meta.inspect($_pre-display-value)};
	#{$Pre-Margin}: #{meta.inspect($_pre-margin-value)};
	#{$Pre-Overflow}: #{meta.inspect($_pre-overflow-value)};
	#{$Pre-Border-Left}: #{meta.inspect($_pre-border-left-value)};
	#{$Pre-Border-Radius}: #{meta.inspect($_pre-border-radius-value)};
	#{$Pre-Padding}: #{meta.inspect($_pre-padding-value)};
	#{$Pre-Max-Width}: #{meta.inspect($_pre-max-width-value)};
	#{$Pre-Letter-Spacing}: #{meta.inspect($_pre-letter-spacing-value)};
	#{$Pre-Color}: #{meta.inspect($_pre-color-value)};
	#{$Pre-Background}: #{meta.inspect($_pre-background-value)};
}
