// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Code";




@mixin _common() {
	code {
		border-radius: var(#{Code.$Border-Radius});
		padding: var(#{Code.$Padding});

		letter-spacing: var(#{Code.$Letter-Spacing});
		color: var(#{Code.$Color});
		background: var(#{Code.$Background});

		overflow-wrap: var(#{Code.$Overflow-Wrap});
	}

	pre {
		display: var(#{Code.$Pre-Display});
		margin: var(#{Code.$Pre-Margin});
		overflow: var(#{Code.$Pre-Overflow});
		border-left: var(#{Code.$Pre-Border-Left});
		border-radius: var(#{Code.$Pre-Border-Radius});
		padding: var(#{Code.$Pre-Padding});
		max-width: var(#{Code.$Pre-Max-Width});

		letter-spacing: var(#{Code.$Pre-Letter-Spacing});
		color: var(#{Code.$Pre-Color});
		background: var(#{Code.$Pre-Background});

		code {
			#{Code.$Color}: #{meta.inspect(Code.$Pre-Color)};
			#{Code.$Padding}: 0;
			#{Code.$Background}: transparent;
		}
	}
}




@mixin Variables-AMP() {
	@include Code.Variables();
}




@mixin Variables() {
	@include Code.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	pre {
		break-inside: avoid;
	}
}
