// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";
@use "../root/Helper";
@use "../root/Timing";




// Variables
$Margin: --form-margin;
$Max-Width: --form-max-width;


/* <ul>, <ol> list */
$List-Margin: --form-list-margin;
$List-Style-Type: --form-list-style-type;
$List-Padding: --form-list-padding;

$Li-Display: --form-li-display;
$Li-Margin: --form-li-margin;


/* <fieldset> */
$Fieldset-Display: --fieldset-display;
$Fieldset-Margin: --fieldset-margin;
$Fieldset-Padding: --fieldset-padding;
$Fieldset-Border-Radius: --fieldset-border-radius;
$Fieldset-Border: --fieldset-border;
$Fieldset-Border-Show: --fieldset-border-show;
$Fieldset-Text-Align: --fieldset-text-align;


/* <legend> */
$Legend-Font-Weight: --legend-font-weight;
$Legend-Color: --legend-color;


/* <input> in general */
$Input-Font: --input-font;
$Input-Font-Size: --input-font-size;
$Input-Vertical-Align: --input-vertical-align;
$Input-Color: --input-color;
$Input-Background: --input-background;
$Input-Background-Image: --input-background-image;

$Input-Border-Radius: --input-border-radius;
$Input-Border: --input-border;
$Input-Border-Color: --input-border-color;
$Input-Border-Left-Width: --input-border-left-width;

$Input-Outline: --input-outline;
$Input-Box-Shadow: --input-box-shadow;
$Input-Box-Sizing: --input-box-sizing;

$Input-Width: --input-width;
$Input-Height: --input-height;
$Input-Min-Height: --input-min-height;
$Input-Padding: --input-padding;
$Input-Margin: --input-margin;

$Input-Appearance: --input-appearance;
$Input-Transition: --input-transition;

$Placeholder-Font-Style: --placeholder-font-style;
$Placeholder-Color: --placeholder-color;

$Optgroup-Margin: --optgroup-margin;
$Option-Padding: --option-padding;


/* <label> */
$Label-Font-Size: --label-font-size;
$Label-Color: --label-color;
$Label-Width: --label-width;
$Label-White-Space: --label-white-space;
$Label-Vertical-Align: --label-vertical-align;




// Values
$_margin-value: 2.5rem auto;
$_max-width-value: 100%;


/* <ul>, <ol> list */
$_list-margin-value: 0 0 0 2rem;
$_list-style-type-value: none;
$_list-padding-value: 0;

$_li-display-value: list-item;
$_li-margin-value: 1rem;
$li-display-inline-value: inline-block;


/* <fieldset> */
$_fieldset-display-value: block;

$_fieldset-margin-value: 1.5rem 0;
$fieldset-margin-center-value: 1.5rem auto;

$_fieldset-padding-value: 1rem;

$_fieldset-border-radius-value: .4rem;
$_fieldset-border-value: none;
$_fieldset-border-show-value: .1rem solid var(#{Color.$Primary-500});

$_fieldset-text-align-value: left;
$fieldset-text-align-center-value: center;


/* <legend> */
$_legend-font-weight-value: bold;
$_legend-color-value: var(#{Color.$Primary-500});


/* <input> in general */
$input-color-valid-value: var(#{Color.$Green-500});
$input-color-invalid-value: var(#{Color.$Red-500});
$input-color-focus-value: var(#{Color.$Blue-500});
$input-color-disabled-value: var(#{Color.$Grey-400});

$_input-font-value: inherit;
$input-font-size-value: inherit;
$input-font-size-small-value: 1.3rem;
$input-font-size-smallest-value: 1rem;
$_input-vertical-align-value: middle;
$_input-color-value: var(#{Color.$Grey-900});
$_input-background-image-value: transparent;
$_input-background-value: #{$_input-background-image-value};

$_input-border-radius-value: .4rem;
$_input-border-color-value: var(#{Color.$Grey-700});
$_input-border-value: .1rem solid #{$_input-border-color-value};
$_input-border-left-width-value: .4rem;

$_input-outline-value: 0;
$_input-box-shadow-value: none;
$_input-box-sizing-value: border-box;

$_input-width-value: 100%;
$_input-height-value: 4rem;
$_input-min-height-value: unset;
$_input-padding-value: .6rem 1rem;
$_input-margin-value: 0;

$_input-appearance-value: none;
$_input-transition-value: var(#{Timing.$Fast});

$_placeholder-font-style-value: italic;
$_placeholder-color-value: var(#{Color.$Grey-500});


/* <textarea> */
$textarea-min-height-value: 15rem;


/* <select> */
$select-min-height-value: 15rem;
$select-height-value: fit-content;
$select-background-settings-value: no-repeat left 50% bottom 0%/1rem;
$select-background-image-value: url('data:image/svg+xml,%3Csvg width="5" height="5" version="1.1" viewBox="0 0 1.3229 1.3229" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath transform="matrix(.96764 0 0 -1.1173 .14932 1.3165)" d="m1.1976 1.1527h-1.3229l0.66146-1.1457z" fill="%23616161" stroke="%23616161" stroke-linecap="round" stroke-linejoin="round" stroke-width=".05109"/%3E%3C/svg%3E');
$select-background-image-valid-value: url('data:image/svg+xml,%3Csvg width="5" height="5" version="1.1" viewBox="0 0 1.3229 1.3229" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath transform="matrix(.96764 0 0 -1.1173 .14932 1.3165)" d="m1.1976 1.1527h-1.3229l0.66146-1.1457z" fill="%230ad406" stroke="%230ad406" stroke-linecap="round" stroke-linejoin="round" stroke-width=".05109"/%3E%3C/svg%3E');
$select-background-image-invalid-value: url('data:image/svg+xml,%3Csvg width="5" height="5" version="1.1" viewBox="0 0 1.3229 1.3229" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath transform="matrix(.96764 0 0 -1.1173 .14932 1.3165)" d="m1.1976 1.1527h-1.3229l0.66146-1.1457z" fill="%23ff0000" stroke="%23ff0000" stroke-linecap="round" stroke-linejoin="round" stroke-width=".05109"/%3E%3C/svg%3E');
$select-background-image-focus-value: url('data:image/svg+xml,%3Csvg width="5" height="5" version="1.1" viewBox="0 0 1.3229 1.3229" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath transform="matrix(.96764 0 0 -1.1173 .14932 1.3165)" d="m1.1976 1.1527h-1.3229l0.66146-1.1457z" fill="%230000ff" stroke="%230000ff" stroke-linecap="round" stroke-linejoin="round" stroke-width=".05109"/%3E%3C/svg%3E');
$_optgroup-margin-value: 2rem 0 0;
$_option-padding-value: 1.2rem 0;


/* <label> */
$_label-font-size-value: inherit;
$_label-color-value: inherit;
$_label-width-value: inherit;
$_label-white-space-value: normal;
$_label-vertical-align-value: middle;

$label-notice-font-size-value: 1.4rem;
$label-notice-white-space-value: pre;




@mixin Variables() {
	// <form>
	#{$Margin}: #{meta.inspect($_margin-value)};
	#{$Max-Width}: #{meta.inspect($_max-width-value)};


	// <ul>, <ol> list inside <form>
	#{$List-Margin}: #{meta.inspect($_list-margin-value)};
	#{$List-Style-Type}: #{meta.inspect($_list-style-type-value)};
	#{$List-Padding}: #{meta.inspect($_list-padding-value)};


	// <li> list item
	#{$Li-Display}: #{meta.inspect($_li-display-value)};
	#{$Li-Margin}: #{meta.inspect($_li-margin-value)};


	// <fieldset>
	#{$Fieldset-Display}: #{meta.inspect($_fieldset-display-value)};
	#{$Fieldset-Margin}: #{meta.inspect($_fieldset-margin-value)};
	#{$Fieldset-Padding}: #{meta.inspect($_fieldset-padding-value)};
	#{$Fieldset-Border-Radius}: #{meta.inspect($_fieldset-border-radius-value)};
	#{$Fieldset-Border}: #{meta.inspect($_fieldset-border-value)};
	#{$Fieldset-Border-Show}: #{meta.inspect($_fieldset-border-show-value)};
	#{$Fieldset-Text-Align}: #{meta.inspect($_fieldset-text-align-value)};


	/* <legend> */
	#{$Legend-Font-Weight}: #{meta.inspect($_legend-font-weight-value)};
	#{$Legend-Color}: #{meta.inspect($_legend-color-value)};


	// <input> in general
	#{$Input-Font}: #{meta.inspect($_input-font-value)};
	#{$Input-Font-Size}: #{meta.inspect($input-font-size-value)};
	#{$Input-Vertical-Align}: #{meta.inspect($_input-vertical-align-value)};
	#{$Input-Color}: #{meta.inspect($_input-color-value)};
	#{$Input-Background}: #{meta.inspect($_input-background-value)};
	#{$Input-Background-Image}: #{meta.inspect($_input-background-image-value)};

	#{$Input-Border-Radius}: #{meta.inspect($_input-border-radius-value)};
	#{$Input-Border-Color}: #{meta.inspect($_input-border-color-value)};
	#{$Input-Border}: #{meta.inspect($_input-border-value)};
	#{$Input-Border-Left-Width}: #{meta.inspect($_input-border-left-width-value)};

	#{$Input-Outline}: #{meta.inspect($_input-outline-value)};
	#{$Input-Box-Shadow}: #{meta.inspect($_input-box-shadow-value)};
	#{$Input-Box-Sizing}: #{meta.inspect($_input-box-sizing-value)};

	#{$Input-Width}: #{meta.inspect($_input-width-value)};
	#{$Input-Height}: #{meta.inspect($_input-height-value)};
	#{$Input-Min-Height}: #{meta.inspect($_input-min-height-value)};
	#{$Input-Padding}: #{meta.inspect($_input-padding-value)};
	#{$Input-Margin}: #{meta.inspect($_input-margin-value)};

	#{$Input-Appearance}: #{meta.inspect($_input-appearance-value)};
	#{$Input-Transition}: #{meta.inspect($_input-transition-value)};

	#{$Placeholder-Font-Style}: #{meta.inspect($_placeholder-font-style-value)};
	#{$Placeholder-Color}: #{meta.inspect($_placeholder-color-value)};

	#{$Optgroup-Margin}: #{meta.inspect($_optgroup-margin-value)};
	#{$Option-Padding}: #{meta.inspect($_option-padding-value)};


	// <label>
	#{$Label-Font-Size}: #{meta.inspect($_label-font-size-value)};
	#{$Label-Color}: #{meta.inspect($_label-color-value)};
	#{$Label-Width}: #{meta.inspect($_label-width-value)};
	#{$Label-White-Space}: #{meta.inspect($_label-white-space-value)};
	#{$Label-Vertical-Align}: #{meta.inspect($_label-vertical-align-value)};
}




@mixin Input-Appearance() {
	@include Helper.Appearance(var(#{$Input-Appearance}));
}




@mixin Input-Transition() {
	@include Helper.Transition(var(#{$Input-Transition}));
}




@mixin Input-ExactPrintColorAdjust() {
	@include Helper.PrintColorAdjust(exact);
}
