// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Form";




@mixin _common() {
	form {
		margin: var(#{Form.$Margin});
		max-width: var(#{Form.$Max-Width});

		ul,
		ol {
			margin: var(#{Form.$List-Margin});
			list-style-type: var(#{Form.$List-Style-Type});
			padding: var(#{Form.$List-Padding});

			li {
				display: var(#{Form.$Li-Display});
				margin: var(#{Form.$Li-Margin});
			}

			&.inline li {
				#{Form.$Li-Display}:
					#{meta.inspect(Form.$li-display-inline-value)};
			}
		}

		.row {
			width: inherit;
		}
	}


	fieldset {
		display: var(#{Form.$Fieldset-Display});
		margin: var(#{Form.$Fieldset-Margin});
		padding: var(#{Form.$Fieldset-Padding});
		border-radius: var(#{Form.$Fieldset-Border-Radius});
		border: var(#{Form.$Fieldset-Border});
		text-align: var(#{Form.$Fieldset-Text-Align});

		&.border {
			border: var(#{Form.$Fieldset-Border-Show});
		}

		&.center {
			#{Form.$Fieldset-Margin}:
				#{meta.inspect(Form.$fieldset-margin-center-value)};
			#{Form.$Fieldset-Text-Align}:
				#{meta.inspect(Form.$fieldset-text-align-center-value)};
		}
	}


	legend {
		font-weight: var(#{Form.$Legend-Font-Weight});
		color: var(#{Form.$Legend-Color});
	}


	input[type='date'],
	input[type='time'],
	input[type='month'],
	input[type='week'],
	input[type='datetime-local'],
	input[type='color'],
	input[type='email'],
	input[type='number'],
	input[type='password'],
	input[type='search'],
	input[type='tel'],
	input[type='text'],
	input[type='url'],
	input:not([type]),
	select,
	textarea {
		font: var(#{Form.$Input-Font});
		font-size: var(#{Form.$Input-Font-Size});
		vertical-align: var(#{Form.$Input-Vertical-Align});
		color: var(#{Form.$Input-Color});
		background: var(#{Form.$Input-Background});
		background-image: var(#{Form.$Input-Background-Image});

		border-radius: var(#{Form.$Input-Border-Radius});
		border: var(#{Form.$Input-Border});
		border-color: var(#{Form.$Input-Border-Color});
		border-left-width: var(#{Form.$Input-Border-Left-Width});

		outline: var(#{Form.$Input-Outline});
		box-shadow: var(#{Form.$Input-Box-Shadow});
		box-sizing: var(#{Form.$Input-Box-Sizing});

		width: var(#{Form.$Input-Width});
		height: var(#{Form.$Input-Height});
		max-width: 100%;
		min-height: var(#{Form.$Input-Min-Height});
		padding: var(#{Form.$Input-Padding});

		@include Form.Input-Appearance();
		@include Form.Input-Transition();

		&:required:valid,
		&:required:enabled:valid,
		&:valid {
			#{Form.$Input-Border-Color}:
				#{meta.inspect(#{Form.$input-color-valid-value})};
		}

		&:required:enabled,
		&:required:enabled:invalid,
		&:invalid {
			#{Form.$Input-Border-Color}:
				#{meta.inspect(#{Form.$input-color-invalid-value})};
		}

		&:required:focus,
		&:focus {
			#{Form.$Input-Border-Color}:
				#{meta.inspect(#{Form.$input-color-focus-value})};
		}

		&::placeholder {
			font-style: var(#{Form.$Placeholder-Font-Style});
			color: var(#{Form.$Placeholder-Color});
		}
	}


	textarea {
		#{Form.$Input-Min-Height}:
			#{meta.inspect(#{Form.$textarea-min-height-value})};
	}

	select {
		&:not([multiple]) {
			#{Form.$Input-Background}:
				#{meta.inspect(#{Form.$select-background-settings-value})};

			&:required:valid,
			&:required:enabled:valid,
			&:valid {
				#{Form.$Input-Background-Image}:
					#{meta.inspect(#{Form.$select-background-image-valid-value})};
			}

			&:required:enabled,
			&:required:enabled:invalid,
			&:invalid {
				#{Form.$Input-Background-Image}:
					#{meta.inspect(#{Form.$select-background-image-invalid-value})};
			}

			&:required:focus,
			&:focus {
				#{Form.$Input-Background-Image}:
					#{meta.inspect(#{Form.$select-background-image-focus-value})};
			}
		}

		&[multiple] {
			#{Form.$Input-Min-Height}:
				#{meta.inspect(#{Form.$select-min-height-value})};
			#{Form.$Input-Height}:
				#{meta.inspect(#{Form.$select-height-value})};
		}

		optgroup {
			margin: var(#{Form.$Optgroup-Margin});

			&:first-child {
				margin-top: 0;
			}
		}

		option {
			padding: var(#{Form.$Option-Padding});
		}
	}


	@media screen and (max-width: 320px) {
		input[type='date'],
		input[type='time'],
		input[type='month'],
		input[type='week'],
		input[type='datetime-local'] {
			#{Form.$Input-Font-Size}:
				#{meta.inspect(#{Form.$input-font-size-smallest-value})};
		}
	}

	@media only screen and (min-width: 321px) and (max-width: 427px) {
		input[type='date'],
		input[type='time'],
		input[type='month'],
		input[type='week'],
		input[type='datetime-local'] {
			#{Form.$Input-Font-Size}:
				#{meta.inspect(#{Form.$input-font-size-small-value})};
		}
	}


	label {
		font-size: var(#{Form.$Label-Font-Size});
		color: var(#{Form.$Label-Color});
		width: var(#{Form.$Label-Width});
		white-space: var(#{Form.$Label-White-Space});
		vertical-align: var(#{Form.$Label-Vertical-Align});

		&.info,
		&.notice,
		&.password-notice,
		&.password-rule {
			#{Form.$Label-Font-Size}:
				#{meta.inspect(#{Form.$label-notice-font-size-value})};
			#{Form.$Label-White-Space}:
				#{meta.inspect(#{Form.$label-notice-white-space-value})};
		}

		&.password-notice,
		&.notice {
			#{Form.$Label-Color}:
				#{meta.inspect(#{Form.$input-color-invalid-value})};
		}
	}


	input[type='radio'],
	input[type='checkbox'] {
		border: var(#{Form.$Input-Border});
		border-color: var(#{Form.$Input-Border-Color});

		vertical-align: var(#{Form.$Input-Vertical-Align});

		&:required:not(:checked) + label {
			#{Form.$Label-Color}:
				#{meta.inspect(#{Form.$input-color-invalid-value})};
		}

		&:disabled + label {
			#{Form.$Label-Color}:
				#{meta.inspect(#{Form.$input-color-disabled-value})};
		}
	}
}




@mixin Variables-AMP() {
	@include Form.Variables();
}




@mixin Variables() {
	@include Form.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	label,
	input,
	fieldset {
		break-inside: avoid;
	}

	input[type='color'] {
		@include Form.Input-ExactPrintColorAdjust();
	}
}
