// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "NavTOC";
@use "../list/List";




@mixin _common() {
	nav.nav-toc {
		width: var(#{NavTOC.$Width});
		padding: var(#{NavTOC.$Padding});
		border: var(#{NavTOC.$Border});
		border-radius: var(#{NavTOC.$Border-Radius});

		background: var(#{NavTOC.$Background});

		.title {
			margin: var(#{NavTOC.$Title-Margin});

			font-size: var(#{NavTOC.$Title-Font-Size});
			text-align: var(#{NavTOC.$Title-Text-Align});
			font-weight: var(#{NavTOC.$Title-Font-Weight});
		}


		ol {
			margin: var(#{NavTOC.$List-Margin});
			padding: var(#{NavTOC.$List-Padding});

			counter-reset: #{NavTOC.$li-counter-value};
			list-style-type: none;

			& > li {
				margin: var(#{NavTOC.$Li-Margin});

				counter-increment: #{NavTOC.$li-counter-value};

				p,
				a {
					display: inline;
				}

				&:before {
					content: NavTOC.$li-before-content-value;
					margin: #{NavTOC.$li-before-margin-value};
				}
			}
		}
	}
}




@mixin Variables-AMP() {
	@include NavTOC.Variables();
}




@mixin Variables() {
	@include NavTOC.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	nav.nav-toc {
		break-inside: avoid;

		li {
			break-inside: avoid;
		}
	}
}
