// Copyright 2020 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2020 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";




// Variables
$Width: --nav-toc-width;
$Padding: --nav-toc-padding;
$Border: --nav-toc-border;
$Border-Radius: --nav-toc-border-radius;
$Background: --nav-toc-background;

$Title-Margin: --nav-toc-title-margin;
$Title-Font-Size: --nav-toc-title-font-size;
$Title-Text-Align: --nav-toc-title-text-align;
$Title-Font-Weight: --nav-toc-title-font-weight;

$List-Margin: --nav-toc-list-margin;
$List-Padding: --nav-toc-list-padding;

$Li-Margin: --nav-toc-li-margin;




// Values
$_width-value: fit-content;
$_padding-value: .5rem;
$_border-value: .2rem solid var(#{Color.$Primary-300});
$_border-radius-value: .4rem;
$_background-value: var(#{Color.$Primary-300});

$_title-margin-value: .5rem 0 0;
$_title-font-size-value: 1.6rem;
$_title-text-align-value: center;
$_title-font-weight-value: bold;

$_list-margin-value: 1rem;
$_list-padding-value: 0;

$_li-margin-value: .8rem;

$li-counter-value: nav-toc-item;
$li-before-content-value: counters(#{$li-counter-value}, '.') '.';
$li-before-margin-value: 0 1rem 0 0;




@mixin Variables() {
	#{$Width}: #{meta.inspect($_width-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};
	#{$Border}: #{meta.inspect($_border-value)};
	#{$Border-Radius}: #{meta.inspect($_border-radius-value)};
	#{$Background}: #{meta.inspect($_background-value)};

	#{$Title-Margin}: #{meta.inspect($_title-margin-value)};
	#{$Title-Font-Size}: #{meta.inspect($_title-font-size-value)};
	#{$Title-Text-Align}: #{meta.inspect($_title-text-align-value)};
	#{$Title-Font-Weight}: #{meta.inspect($_title-font-weight-value)};

	#{$List-Margin}: #{meta.inspect($_list-margin-value)};
	#{$List-Padding}: #{meta.inspect($_list-padding-value)};

	#{$Li-Margin}: #{meta.inspect($_li-margin-value)};
}
