{{- $dl := dict "context" . "OutputFormat" .Site.Data.bissetii.mediaTypes.HTML.Name -}}

<table>
	<thead>
		<tr>
			<th>Version</th>
			<th>Type</th>
			<th>Link</th>
			<th>SRI (Algorithm-Value)</th>
		</tr>
	</thead>
	<tbody>
{{- range $byVersion := sort .Site.Data.bissetii.data.css "" "desc" -}}
	{{ range $name, $css := $byVersion }}
		{{- $url := merge $dl (dict "GivenURL" $css.URL) -}}
		{{- $url := (partial "shortcodes/link" $url) -}}
		<tr>
			<td>{{- $css.Version -}}</td>
			<td>{{- $name -}}</td>
			<td><a href="{{- $url -}}" download>Download</a></td>
			<td>{{- $css.Integrity -}}</td>
		</tr>
	{{- end -}}
{{- end -}}
	</tbody>
</table>
