// Copyright 2021 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2021 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "../root/Color";
@use "../root/Layout";




// Variables
$Display: --footer-display;

$Padding: --footer-padding;
$Margin: --footer-margin;

$Color: --footer-color;
$Background: --footer-background;
$Border: --footer-border;

$Display-Print: --footer-display-print;


// Values
$_display-value: block;

$_padding-value: 2.5rem var(#{Layout.$Main-Padding});
$_margin-value: 0
		calc(-1 * var(#{Layout.$Main-Padding}))
		calc(-1 * var(#{Layout.$Main-Padding}))
;

$_color-value: var(#{Color.$Grey-50});
$_background-value: var(#{Color.$Primary-700});
$_border-value: none;

$_display-print-value: block;




@mixin Variables() {
	#{$Display}: #{meta.inspect($_display-value)};
	#{$Padding}: #{meta.inspect($_padding-value)};
	#{$Margin}: #{meta.inspect($_margin-value)};

	#{$Color}: #{meta.inspect($_color-value)};
	#{$Background}: #{meta.inspect(#{$_background-value})};
	#{$Border}: #{meta.inspect(#{$_border-value})};

	#{$Display-Print}: #{meta.inspect($_display-print-value)};
}
