// Copyright 2021 ZORALab Enterprise (hello@zoralab.com)
// Copyright 2021 "Holloway" Chew, Kean Ho (hollowaykeanho@gmail.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@use "sass:meta";
@use "Footer";
@use "../root/Helper";




@mixin _common() {
	footer {
		display: var(#{Footer.$Display});
		margin: var(#{Footer.$Margin});
		padding: var(#{Footer.$Padding});

		color: var(#{Footer.$Color});
		background: var(#{Footer.$Background});
		border: var(#{Footer.$Border});
	}
}




@mixin Variables-AMP() {
	@include Footer.Variables();
}




@mixin Variables() {
	@include Footer.Variables();
}




@mixin AMP() {
	@include _common();
}




@mixin Critical() {
	@include _common();
}




@mixin Tablet() {
}




@mixin Desktop() {
}




@mixin Widescreen() {
}




@mixin Print() {
	footer {
		display: #{Footer.$Display-Print};

		@include Helper.PrintColorAdjust(exact);
		break-inside: avoid;
	}
}
